[2018-02-03 18:42] mjsisley opened #1 "Allow `on` to take an array"
Great lib!

Currently `on` must be hover, focus, or click. Would be great if it also took an array (so it could be triggered on any combo of these).

[2018-02-05 23:16] #1 closed

[2018-02-07 19:58] yjose opened #2 "Add scroll-lock for modal"
Add scroll-lock for modal, when opened document below modal shouldn’t be able to be scrolled and most modals are locked to bottom on mobile

[2018-02-07 23:13] #2 closed

[2018-03-21 11:17] pdewouters opened #4 "Tooltip cut off on smaller screens"
Thanks for building this component.
On small screeens, the tooltip can be cut off by the viewport, and doesn't follow the trigger element when resizing the window. See attached screenshot.
Here is a link to a demo of a "responsive" tooltip , to show you what I mean would be a good solution
https://osvaldas.info/examples/elegant-css-and-jquery-tooltip-responsive-mobile-friendly/
<img width="402" al

[2018-03-22 20:36] yjose commented on #4
Hi, @pdewouters  thank you for your remarks :+1:
For the first problem, I am working to position the tooltip in a smart way based on the tooltip boundaries and the viewport when the position prop doesn't exist.
Next, I think the second problem is not a major one, but of course, I will solve this problem soon.

[2018-03-23 09:59] pdewouters commented on #4
Excellent, thank you very much

[2018-04-11 13:52] ChrisLincoln opened #5 "Feature/Bug: Tooltip behavior on individual table cells."
### Version
1.0.5

### Test Case
https://codesandbox.io/s/yqp74xwo5j

### Expected Behavior
When a table-like structure is used and tool-tips are desired for each cell, the tool-tip should appear for each cell.

### Actual Behavior
The tooltip appears for every other cell.  The enter/leave logic requires some sort of intermediate "non-triggered" space.

I have attempted to a) eliminate the timeout

[2018-04-12 20:02] yjose commented on #5
Hi @ChrisLincoln
Thank you for this great explication. it looks like it's a bug when we don't have a non-triggered space between tow triggers.
I will work on this soon.
Feel free to submit a pull request if you have any ideas !!

[2018-04-13 01:15] yjose commented on #5
it looks like the problem is caused by the popup overlay, so to fix the problem the overlay will be excluded by default on hover.
Done!!

[2018-04-13 01:18] #5 closed

[2018-04-13 11:33] ChrisLincoln commented on #5
Thank you @yjose!  Just to close the circle, I applied the fix from 1.0.7 to my app and now get the expected behavior.

[2018-04-13 11:38] MikeSchaap opened #9 "Error building in ReactJS"
### Version
1.0.6 & 1.0.7

### Test Case
Add this package to a project and import it. Then try to create a production build using yarn run build (react-create-app).

Note: It builds and works fine with version 1.0.5

### Expected Behavior
To successfully create a production build

### Actual Behavior
It throws the following error:

Creating an optimized production build...
Failed to compile.

Fail

[2018-04-13 17:31] #9 closed

[2018-04-13 18:04] yjose opened #10 "fancy menu example doesn't Work !!"
### Version
1.0.8

### Test Case
https://codesandbox.io/s/k2x7l5jy27

### Expected Behavior
Fancy Menu Popup
### Actual Behavior
the menu  doesn't work !!

[2018-04-13 18:07] yjose commented on #10
The Problem related To the fixed issue #5 : regression issue

[2018-04-13 18:27] #10 closed

[2018-04-16 16:50] unhedged79 opened #11 "Issue with staying on top and mouseover menu items"
Installed this and works perfectly in most of my site's components, except for a chatroom component whose css renders the page using 'vh' and calculations for page height. I think that is the only difference in css between the chat component and the others, and there is no z-index whatsoever in the chat component.

I tried added styling of 'z-index': "100", etc to the contentStyle prop, but it sti

[2018-04-16 17:32] yjose commented on #11
Hi friend,
Can you help me determine your problem by using a  codesandbox example https://codesandbox.io/s/n5q4zqw2n0
Thanks

[2018-04-16 20:05] unhedged79 commented on #11
Issue was resolved - very prompt response from author.

My div was set as position: relative, and changing it to position: static allowed the popup to float on top again. Thanks!

[2018-04-16 20:05] #11 closed

[2018-04-17 13:02] unhedged79 opened #12 "not compatible with Internet Explorer 11"
Is there a known bug with reactjs-popup and Internet Explorer 11? Neither the menu nor the tooltip works, and crashes the site with error:
"Object doesn't support property or method 'includes' "

Seems to be a known issue as IE 11 doesn't support includes and to get around it people change their code to use window.indexOf?

[2018-04-20 04:03] zhuangya commented on #12
related stackoverflow thread: https://stackoverflow.com/a/31119502/553523
maybe add browser target in `.babelrc` since this project has already using `babel-preset-env`?

[2018-04-20 16:52] OriLev opened #13 "Add typescript support"
currently cannot use the package in a typescript project :(

[2018-04-22 17:34] #12 closed

[2018-05-08 02:52] javenkn opened #14 "Conditional rendering"
When using a conditional render block inside `<Popup>`, it shows this warning:

```Warning: Failed prop type: Invalid prop `children` supplied to `Popup`.```

Ex. Code:
[code]

[2018-05-09 15:39] naduo11 opened #15 "IE Supporting"
I started using the popup in our project recently. It was awesome for chrome, firefox and safari. But it has some issue for IE. In the previous version 1.1.0, it was working, only has some style issue which I was not able to make it perfect. However, for 1.1.1, IE actually failed to render. It turned out that latest version you're using JS method "includes" in some places, and it is not supported

[2018-05-09 15:49] #15 closed

[2018-05-09 15:52] naduo11 commented on #15
Sorry about this, looks like something wrong with my library control. I forced to install 1.1.1, and it's working now. And I did see the previous post about the IE problem. So never mind. Thanks.

[2018-05-22 14:50] rahmatkruniawan opened #16 "Open Modal when ComponentDidMount"
**How to Open dialog modal when component called  ??**

[2018-05-22 23:26] famlyman opened #17 "Gatsbyjs doesn't hot load when implementing Popup"
### Version
1.1.0

### Test Case
https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior
Popup modal in Gatsbyjs app.
### Actual Behavior
After saving hot reload in localhost shows blank screen until I delete Popup from app.

[2018-05-23 01:33] yjose commented on #16
Hi @rahmatkruniawan ,
The reactjs-popup support controlled way  and uncontrolled way,
In your case, you need to take a look at this example on the reactjs-popup homepage :
https://react-popup.netlify.com/controlled-popup/
So if you want to open the popup in ComponentDidMount lifecycle you just need to call the openModal function inside ComponentDidMount.

have a nice day

[2018-05-23 01:33] #16 closed

[2018-05-24 00:48] yjose commented on #14
Hi @javenkn, I can't reproduce the warning. I test it in my own project with Conditional rendering and it works without  warning

[2018-05-24 00:48] #14 closed

[2018-05-24 01:19] yjose commented on #17
look like this problem related to gatspyjs project https://github.com/gatsbyjs/gatsby/issues/5534

[2018-05-24 01:47] famlyman commented on #17
Thank you very much.

[2018-05-25 20:32] yjose commented on #17
Hi @famlyman

As you see in the Reactjs-popup readme the component  requires React >= 16.0 and Gatsby v1 is using React 15

You can use gatsby-plugin-react-next to use React 16 with v1 and hopefully that will sort things out!

Please reopen the issue if the problem persists 🙂

[2018-05-25 20:34] famlyman commented on #17
Oh sweet, I missed that. Thank you again for all you do.

On Fri, May 25, 2018, 4:32 PM Youssouf EL AZIZI <notifications@github.com>
wrote:

[2018-05-26 22:47] famlyman commented on #17
I updated Gatsby to React 16 per your instructions and the problem persists. Attached is the screenshot of the React version for confirmation. As well as the version of Reactjs Popup.
![screenshot_2](https://user-images.githubusercontent.com/13388878/40580815-26579208-6115-11e8-8785-014719fff095.png)

![screenshot_1](https://user-images.githubusercontent.com/13388878/40580798-eabb61b6-6114-11e8-98

[2018-05-27 01:28] yjose commented on #17
You cant update gatspy to react 16 it will not work. As you see i suggest that you use the gatspy plug-in react next

[2018-05-27 01:30] famlyman commented on #17
Correct, I updated per your instructions on the previous email.

On Sat, May 26, 2018, 9:28 PM Youssouf EL AZIZI <notifications@github.com>
wrote:

[2018-06-05 23:31] #17 closed

[2018-06-07 10:52] ArtemiusL opened #18 "Modal window is cut off on small sizes"
Thank you for library!
When i do screen small then modal window is cut off, i will want that to can be use this library on mobile devices.
It will be cool if the small screen sizes will `overflow-y: scroll or auto` like fancybox in JQuery.
http://prntscr.com/js0lmw

[2018-06-10 01:53] yjose commented on #18
Hi, @ArtemiusL ,
Thanks for your remarks,
I think you just need to custom container modal using contentStyle prop.
Please provide me your snippet so I can help you !!!

[2018-06-19 08:48] eliranbenishai opened #19 "Trigger Popup from code"
Unless I missed something, the only way to trigger a popup is by providing a DOM element for the trigger property. I would like the popup to be triggered by certain events (like server responses) that do not correspond to elements in the dom. Would that be possible?

Thanks!

[2018-06-21 20:49] yjose commented on #19
Hi @eliranbenishai , thanks for your remark, reactjs-popup can't do this out of the box.but it simple I think:
* first Approach: you just need to use the popup component As a controlled component ( [example here](http://react-popup.netlify.com/controlled-popup/)  ) and update the popup state everywhere and after server response.
* 2nd Approach : (the best and more generic) I think you can simply m

[2018-06-25 19:11] jingzhaoou opened #20 "Cannot close tooltip through a button on a non-modal pop-up"
I really like this plugin as it is amazingly small and powerful. However, I just get stuck on one issue. I tried to add a button on the tooltip and allow people to allow the pop-up by clicking that button.

I am following the example at [Controlled Popup](https://react-popup.netlify.com/controlled-popup/). Rather than using a modal, I tried to change the example to use tooltip (e.g., using trigger

[2018-06-25 22:15] yjose commented on #20
Thank you @jingzhaoou ,
I cant understood correctly what you need to implement using the reactjs-popup, can you provide me an example using the sandbox issue template here https://codesandbox.io/s/n5q4zqw2n0
thanks

[2018-06-26 01:56] jingzhaoou commented on #20
I appreciate your prompt reply and help. A simple example is provided at [here](https://codesandbox.io/s/y042vpxo1x). Click on the "x" button on the pop-up and nothing happens.

[2018-06-26 08:44] yun-li opened #21 "Show modal in the other subtab"
Hello,

I have a webpage containing several subsections under the same url, such as

  _____________________________________________________________________________
   **nav area:**                        subsection1  |  subsection2  |  subsection 3
  _________________________________________________________________________________

   **body:**                 Contents for subsection 1 or 2 or 3

[2018-06-26 16:56] yjose commented on #21
Hi @yun-li ,
look like you have a css issue here , can you provide me an example using the sandbox issue template here https://codesandbox.io/s/n5q4zqw2n0
thanks

[2018-06-29 15:50] yjose commented on #20
Hi @jingzhaoou ,
As you can see in this code sandbox example you can use a function as a child in your tooltip content and you would have access to the `close` function.  https://codesandbox.io/s/r0qnzpvz4p
the reason why your first example will not work as you expected because when you use a trigger in a Popup component the trigger element will be overridden by another react element to add a ref

[2018-06-29 18:09] #19 closed

[2018-06-29 18:10] #20 closed

[2018-06-29 18:10] #18 closed

[2018-06-29 19:00] jingzhaoou commented on #20
Thanks a lot for your help! Yeah, that meets my needs exactly. I can now remove `reactstrap` and place it with `reactjs-popup`  as I only needs pop-ups for my sites. Cheers!

[2018-07-02 18:22] DexiongYung opened #23 "Trigger close from code"
Is there a way to trigger popup close from code? I'm using it as an input form and just want it to close if the inputs are valid and if not stay open.

[2018-07-02 18:54] yjose commented on #23
With Reactjs-popup you can set a function as a children and you could have access to the close function, example in the 2nd code snippet here https://react-popup.netlify.com/use-case---modal/

[2018-07-06 20:38] #21 closed

[2018-07-24 13:14] spinybeast opened #24 "full screen availability"
Hi! Thank you for awesome component. What if I need fullscreen modal? Is there the opportunity?

[2018-07-24 17:30] yjose commented on #24
Hi @spinybeast ,
if you need a fullscreen modal just need to add the `contentStyle`  to the `Popup` Component as the following  Codesandbox example  https://codesandbox.io/s/3y3nyrky4p.

you can read more about component Api  : http://react-popup.netlify.com/component-api/

Feel free to close this  issue if the code example work for your case.

[2018-07-25 13:28] erezactionbar opened #25 "Manually close tooltip from within content"
### Version

### Test Case
https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior

### Actual Behavior

[2018-07-25 13:31] #25 closed

[2018-07-27 00:56] #24 closed

[2018-08-07 14:22] datner opened #26 "offsetX prop does not work as intended (or at all)"
### Version
1.1.1

### Test Case
[![Edit Reactjs-popup issue Template](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/01m615qqnv)

### Expected Behavior
offset the popup by 30px on the X axis

### Actual Behavior
no offset of the popup on the X axis

[2018-08-07 21:33] #26 closed

[2018-08-07 21:38] yjose commented on #26
Hi @datner ,  thanks for your remarks
issue fixed  reactjs-popup1.1.2 https://codesandbox.io/s/1v9w8vj7qj

[2018-08-08 17:59] cesarm16 opened #28 "Call onClose before modal dissapear"
onClose should be called after modal dissapear if it is a controlled popup.

[2018-08-08 20:51] yjose commented on #28
Hi @cesarm16, Can you provide more info with a sandbox use case !

[2018-08-08 21:24] cesarm16 commented on #28
i want to animate my modal after it is totally closed. I can't ,due the modal is unmounted before onClose is called, specially when i use closeOnDocumentClick.

[2018-08-13 23:07] yjose commented on #28
Hi @cesarm16 , just fixed the issue reactjs-popup@1.1.4 , let's me know if this fix help you to animate your modal, feel free to share with me your example, we planned to add some default animation and we need some inspiration

[2018-08-13 23:07] #28 closed

[2018-08-14 21:58] cesarm16 commented on #28
Thank you!, just one problem...I think if you use it as a controlled component you should not set state isOpen to false until you change open prop to false.

[2018-08-14 22:30] yjose commented on #28
@cesarm16  hmm,  can you open a PR, and we will see how it would work

[2018-08-19 13:52] #4 closed

[2018-08-20 09:40] kunokdev commented on #25
Why is it closed? Is it resolved? How do we actually close popup when clicked inside its content?

[2018-08-21 14:20] adriano-repetti opened #32 "Clicks propagate to the underlying control"
If `trigger` is a link `<a>` and `on` is `click` then click triggers both the popup and the navigation to the link (or its `onclick`, if any). For example:

    <Popup trigger={<a onClick={this.handleClick}>click me</a>} />

Click to open is useful also for tooltip for touch devices (where hover isn't available and/or annoying/confusing for the user). We may mimic the hover behavior we see, for ex

[2018-08-22 07:52] adriano-repetti commented on #32
@yjose thank you for your quick reply. You can reproduce it simply with:

[code]

When you click on the link the popup correctly opens but the event isn't stopped and it also triggers the `onclick` on `<a>`. There are few use-cases for this, for example when using your component as tooltip (maybe with `on={[ "hover", "click" ]}`) in a touch device: first click to show the tooltip and second click

[2018-08-28 14:17] fmltwice opened #33 "right position centring is done yet by left side"
HEY. If I type`<popup> contentStyle = … position="right"` positioning counts itself from the **left** side, but not from the right.
This causes a BUG:
by clicking on a button it opens a normal width of a popup, positioning from the left
by expanding an inner menu inside the popup it recounts its width, but previous positioning from the left stays the same
popup window goes outside the webpage to t

[2018-09-01 16:06] nelsonomuto opened #34 "Documentation mistake component api mouse enter & leave"
### Version
Latest on master

### Test Case
N/A
- documentation

### Expected Behavior
Clear documentation with component api specified accurately.

### Actual Behavior
Documentation for component api has mistakes where it specifies the prop type as a value and default value as a type for mouse enter & leave.
https://react-popup.netlify.com/component-api/
![rjsp-comp-mistake](https://user-images.g

[2018-09-01 20:53] #34 closed

[2018-09-04 17:29] yashhy opened #36 "popup arrowStyle css property "left" is been overridden"
While trying to custom `arrowStyle = { left: 20px }`  has no effect.

CodeSandbox link where the `left: 50px` is ignored
https://codesandbox.io/s/pmp848njwx

I see its getting overridden by this line of code [here](https://github.com/yjose/reactjs-popup/blob/master/src/Utils.js#L76).

### The Issue :

I set the `offsetX` props to move the popup content right (because that's my requirment) and now

[2018-09-04 18:03] yjose commented on #36
HI, @yashhy  good remark,
Can you open a pull request using the first approach !!

[2018-09-05 08:12] yashhy commented on #36
Sure will do 👍

[2018-09-06 05:43] yashhy commented on #36
Hey @yjose, along with overriding arrow left, arrow top, content left and top can also be overridden?

So with that said,

The [current code](https://github.com/yjose/reactjs-popup/blob/master/src/Popup.js#L165) for `contentStyle` will be:

[code]
and [code](https://github.com/yjose/reactjs-popup/blob/master/src/Popup.js#L171) for `arrowLeft`

[code]

Let me know your thoughts.

[2018-09-06 11:27] yjose commented on #36
Hi @yashhy,
For the first one the `this.ContentEl` must be positioned based on the helper cords.
we use the helper to position the tooltip on the right place and we use `offsetX`and `offsetY` to customize the position, so I think no need to update the `ContentEl` position part.

for the arrow, I think the best way is to customize position, we can use the arrowStyle position but must be related to

[2018-09-13 14:52] ndelangen opened #37 "Order of elements"
For usability and accessibility it would be better to place the popup content AFTER the trigger.

This will allow TAB-index to work as expected.

As a work-around I have added tabIndex="1" to the trigger and set `keepTooltipInside` to `true`.

[2018-09-13 15:49] yjose commented on #36
@yashhy  any update here  or I can take the lead to fix it

[2018-09-14 17:17] yashhy commented on #36
@yjose sorry man, was busy with other things.

I was opening up a PR but it threw me this

Pushing to https://github.com/yjose/reactjs-popup.git
remote: Permission to yjose/reactjs-popup.git denied to yashhy.
fatal: unable to access 'https://github.com/yjose/reactjs-popup.git/': The requested URL returned error: 403

[2018-09-14 18:31] yjose commented on #36
Hi @yashhy , you need to fork the repo ( GitHub top buttons ).
then you can update and push code to your forked repo and then you can open a PR from your GitHub repo.
let me know if you need more details

[2018-09-20 12:50] jbdemonte commented on #13
Here is the `reactjs-popup.d.ts` file I'm using

[code]

[2018-09-21 01:23] wesleywong opened #40 "Popup markup inject location"
Currently, I used this popup to trigger in the dropdown menu. But i facing the issue that popup markup is injected into dropdown menu. Although the popup set as Fixed and absolute position, but to solve the issue, the markup needs to place into body. May I know is there a way can trigger the popup and insert into body level instead of trigger element level.

![screen shot 2018-09-21 at 9 22 42 am]

[2018-09-29 13:47] #37 closed

[2018-09-29 15:57] #13 closed

[2018-09-29 15:57] #36 closed

[2018-10-10 00:18] #40 closed

[2018-10-15 08:41] Saitop opened #45 "Should provide the api to control tooltip to show or not, like modal"
### Version

### Test Case
https://react-popup.netlify.com/use-case---tooltip/
click trigger tooltip button and resize the browser window

### Expected Behavior
close the tooltip or relocate the place of tooltip when user resize the window
### Actual Behavior
the tooltip stay at the original place, and it looks not so friendly

[2018-10-16 07:11] dhruvparmar372 opened #46 "Popup's inside transformed elements do not have full screen overlay"
### Version
1.3.0

### Test Case
https://codesandbox.io/s/zm44w83zm

### Expected Behavior
Clicking outside the red box should close the popup.

### Actual Behavior
Clicking outside the red box doesn't close the popup. This is because `popup-overlay` which is positioned `fixed` when inside a parent having `transform` doesn't cover entire screen. If you remove `transform` from red box then expected

[2018-10-16 18:53] ThePaulMcBride opened #48 "Feature Request: Popup recalculates position when window is resized"
It would be great to be able to pass a `repositionOnResize` prop that would recalculate the position of the popup when the widow width and possibly height changes.

Another approach would be to expose the reposition function so that components that consume this component could tell the popup when to recalculate position.

[2018-10-16 19:06] yjose commented on #48
Hi @ThePaulMcBride , thanks for your remark, this problem is on my radar, it will be fixed ASAP

[2018-10-19 11:49] raRaRa opened #49 "Feature request: disabled property"
Hi.

I want to suggest a new property for `<Popup />` which is `disabled`. I've run into an issue where I have a tooltip displayed when the mouse is hovering over a button, and when I click on the button I change the opacity of the button to `0`. But unfortunately the tooltip will still show up, which is the expected behavior.

That's why I want to suggest the new prop: `disabled`.

When `disabled

[2018-10-19 12:59] yjose commented on #49
HI @raRaRa , Good remark.
I suggest To open a new PR for this if you have some time of course.
The implementation would be simple I think.
lets me know if you have any problem

[2018-10-19 13:12] raRaRa commented on #49
Great to hear! And excellent job, this is the only tooltip library that behaves and works like it should 🥇

I have a problem when I try to `yarn start` after `yarn install`. I get this error:

[code]

I'm wondering if

[2018-10-19 14:14] yjose commented on #49
let's me check

[2018-10-19 15:12] raRaRa commented on #49
Still same issue :( I also tried removing yarn.lock among the steps you mentioned.

[2018-10-19 16:11] yjose commented on #49
Just got it.
look like parcel Now, support the babel 7.  so the old config tries to use the old presets.
you just need to update the the `.babelrc` file.
[code]

[2018-10-19 16:56] raRaRa commented on #49
Thanks, that did the trick.

I have implemented the first version of the `disabled` prop here: https://github.com/raRaRa/reactjs-popup

I also created a story for it.

[2018-10-19 17:11] yjose commented on #49
cool 👍 ,
*Need to add a test case for it if you are familiar with jest then open a PR.
* Update the component API  https://github.com/yjose/reactjs-popup/blob/master/docs/src/markdown/componentApi.md
I will review it ASAP.

[2018-10-19 17:30] yjose commented on #49
Yeah of Course: https://github.com/yjose/reactjs-popup/blob/master/__test__/index.test.js

you will notice that the build from your new PR was failed, it's related to Docs App just ignore it, I am migrating to gatsbyjs over react-static.

[2018-10-20 08:40] raRaRa commented on #49
Hi, please review my PR here: https://github.com/yjose/reactjs-popup/pull/50

[2018-10-23 14:37] raRaRa commented on #49
Hey @yjose - any update on this? Thanks!

[2018-10-31 12:36] #49 closed

[2018-10-31 12:38] #45 closed

[2018-11-06 17:15] yjose opened #55 "Hooks Rewrite (proposal)"
### Reactjs-popup Hooks Rewrite
Discussion and Demos  about the  new reactjs-popup Rewrite using Hooks ( proposal )

* Please make sure you read the contributing Guide  https://github.com/yjose/reactjs-popup/blob/master/CONTRIBUTING.md
* use `hooks` branch  too open PR
* you can use our code sandbox starter https://codesandbox.io/s/lxzq8y240z

[2018-11-06 19:30] shdq commented on #55
Don't rewrite your components! © Dan Abramov

[2018-11-30 14:33] itjayaprakash opened #60 "Previous Popup content not closing when using keyboard tab to focus enter ?"
i have added multiple button each button have some popup content
i enter the first button. it's displaying some content fine.  then without any mouse click  after
i enter the another button it's also displaying the popup content... the two popup content is showing....
previous popup content is not removing....

if u mouse click or esc press only remove the popup content...

Thanks,

[2018-12-04 22:12] iljapanic opened #61 "Add support for CSS classes"
Currently, if you want to style the popup content you need to pass a styles object to `contentStyle`.

It would be great if we could use `className` or something like `customClass` to style the content via CSS classes instead.

[2018-12-05 21:36] yjose commented on #60
Hi @itjayaprakash , thanks for your remarks,
if you can please provide an example describing the issue  using the reactjs-popup code sandbox example https://codesandbox.io/s/n5q4zqw2n , it would be very helpful

thanks

[2018-12-09 10:45] itjayaprakash commented on #60
Hi yjose,
               I am developing my project everything as per  a11y  with  WCAG Guideline...
"reactjs-popup"  is not followed as per WCAG !  so i am facing some issue this component.

I have created  example here  can you please check. not closing previous modal already opened still showing after new modal enter. i attached sample here.

https://codesandbox.io/s/40o5k83m1w

<img src="https

[2018-12-13 00:44] #48 closed

[2019-01-07 17:30] rob-myers opened #66 "Window resize inside SVG"
I'm using your `Popover` inside a foreignObject of an SVG.

It works fine until the window is zoomed.
That is, the tooltip's position is wrong, and its `trigger` is misaligned.

The problem does not occur when your component is outside an SVG.
I tried `repositionOnResize` but it did not help.

Any help much appreciated.

[2019-01-07 21:17] rob-myers commented on #66
Sure, here you go:

https://codesandbox.io/s/6vv22vx5vz

[2019-01-08 10:45] rajeshviswanadhapalli1 opened #67 "increase overlay using contentStyle"
when i click popup trigger overlay effect is background("0","0","0","0.5") but i need background("0","0","0","0.8")

[2019-01-10 09:11] rob-myers commented on #66
@yjose Do you see the problem, or do I need to provide more info?

[2019-01-15 05:29] EunsungKoh opened #69 "Example site example doesn't Work"
I tried to visit your example site https://react-popup.elazizi.com/ and https://react-popup.netlify.com/ both, but I couldn't be there.

`This site can’t be reached react-popup.elazizi.com’s server IP address could not be found.
DNS_PROBE_FINISHED_NXDOMAIN`

This is only what I got in the example site.

Any help much appreciated..

[2019-01-15 11:56] yjose commented on #69
Hi @eunsugkoh, look like it's a netlify DNS issue for a while, i just checked and it's work like a charm. Please verify and close the issue in case.

[2019-01-15 11:58] EunsungKoh commented on #69
Thanks! I checked it works. :grin:

[2019-01-15 11:58] #69 closed

[2019-01-16 08:34] tweeklabs-isaac opened #70 "Popup being covered by a parent that has overflow:hidden style"
When you set the parent of the Popup to have position:relative and the parent's has overflow hidden, the Popup is being covered when you try to show it.

See example: https://codesandbox.io/s/21wz7z94lp

Is there a work around with this? Maybe set an option to append the Popup node as last element on #root?

Version: 1.3.2
Test Case: https://codesandbox.io/s/21wz7z94lp
Wanted Behavior: Popup to no

[2019-01-25 18:10] Abooddy commented on #14
I'm having the same issue.

[2019-01-25 21:10] yjose commented on #14
@Abooddy can you make sure you have the latest version
you can found a working example here https://codesandbox.io/s/km32p367v5

[2019-01-25 21:55] Abooddy commented on #14
I'm already using version 1.3.2. I tried wrapping it in <React.Fragment> and in a <div> and both didn't work.

[2019-01-26 00:56] yjose commented on #14
Can you provide your  example using the codesandbox example

[2019-02-01 14:11] stushurik commented on #25
@kunokdev thanks it was helpful

[2019-02-08 11:13] raRaRa commented on #55
Adding support for hooks would be really great. A potential way of using it would be something like:

[code]

What do you think @yjose - has there been any progress on this?

Thanks!

[2019-02-08 13:59] fdsero opened #72 "Custom media queries"
Hey there!
Love the package, is there any way to add in custom media queries depending on screen width. I'd like to readjust the content style depending on device width. Currently we're using styled components on the front end.

Any help with this would be awesome, thanks!

- Frank

[2019-02-19 22:54] yjose commented on #55
yeah @raRaRa it has been a while now when I start working on hooks version. but to be honest, until this moment  I just I rewrite the component using hooks so the API and how to use it is still the same.

I can't find a simple way to provide a hooks way API  like what you mentioned in your component.
can you elaborate more on how we can provide a simple API  (tooltip, modal ...)?

[2019-03-04 12:02] Finesse opened #75 "`prop-types` dependency is missing in package.json"
The library package [requires](https://github.com/yjose/reactjs-popup/blob/master/src/index.js#L345) `prop-types` when `process.env.NODE_ENV !== 'production'` and the `prop-types` package is not added to [package.json](https://github.com/yjose/reactjs-popup/blob/master/package.json). Therefore when I try to build my application using Webpack or Rollup, I get an error saying that the `prop-types` p

[2019-03-10 14:25] deg opened #76 "Popup on right click?"
Can I bring up the popup in response to a click of the right mouse button?

It looks like this is not possible, please consider this a feature request. :-)  Thanks!

[2019-03-25 15:54] janvandijke opened #77 "Overlay not blurring, instead the modal gets blurred."
When I add an object to the prop `overlayStyle` with` filter: "blur(1px)"`, what happens is that only the modal itself gets blurred, but not the background/overlay.

[code]

The object with the react CSS:

[code]

[2019-04-03 09:11] mtrsklnkvMM commented on #70
I would be interested in having a fix or a enhancement for that as well

[2019-04-11 12:30] anankitpatil opened #79 "When onClose is used, modal stops working when it is closed by clicking outside."
I was trying to prevent body scrolling when popup was opened. I implemented `onOpen` and `onClose` to do that. Entire code below:

`<Popup
          open={this.state.modalOpen}
          closeOnDocumentClick
          onClose={this.closeModal}
          className="organization-employees-add-branch-modal"
          onOpen={() => (document.body.style.overflow = "hidden")}
          onClose={() => do

[2019-04-11 12:37] anankitpatil commented on #79
Can you please delete this issue.

I've used onClose twice. I figured it after posting this issue. Sorry.

[2019-04-11 15:59] #79 closed

[2019-04-11 18:37] spsaucier opened #80 "`position` enum doesn't include 'center center'"
`"center center"` is a valid position for the Popup, as it can be set to cover the initial element directly. However, it is rejected by the propTypes Enum.

I'm aware that it's not specifically code for and is effectively the same as `"blah blah"`, but it works for our use-case and ought not present an error.

### Version
1.3.2

### Test Case
https://codesandbox.io/s/m33m9q3np8

### Expected Behav

[2019-04-11 19:07] yjose commented on #80
Yeah, @spsaucier, I thought no one will need the `"center center"`position, but look like it can be set to cover the initial element directly.
I think you need to open a pull request if you have time to remove the prototype warning by adding the ` center center` position as a possible Positions ( don't miss the ts file and documentation :) ).
also, you need to mention that the developer needs to s

[2019-04-12 12:51] pun12189 opened #82 "add all possible positions in case of typescript"
### Version
1.3.2

### Test Case
no test cases

### Expected Behavior
i want this in indes.d.ts file to be merged with new release. Regarding this there is this commit 833b93c060b3b72d02dec0b3ebd7259dec03314d is present

type Position = 'top left' | 'top center' | 'top right' |
                  'right top' | 'right center' | 'right bottom' |
                  'bottom left' | 'bottom center' | 'bo

[2019-04-12 18:44] yjose commented on #82
I don't think soo @pun12189 , the Position type has the correct enum, can you check again?

[2019-04-16 00:52] #82 closed

[2019-05-10 06:27] leon2835 opened #83 "About Subscription"
Hi there, let's say if I'm using the PopUp library that you provide and it will pop up a dialog as usual.
But my current problem is, if i'm subscribing websocket inside <TabsComponent/>. when I close the popup it will show  "Can't perform a React state update on an unmounted component." even that i already implement following code inside <TabsComponent/>
 componentDidMount() {
        this._isMoun

[2019-05-10 18:19] yjose commented on #83
Can you provide a simple demo of your use case using the codesandbox  template

[2019-05-10 19:15] kevinlaw91 opened #84 "Using custom component as trigger does not work"
Using custom components such as `<FancyButton />` as `trigger` does not work

[code]

### Version
1.3.2

### Test Case

https://codesandbox.io/s/9jx6mx22w

### Expected Behavior
Popup will show but it doesn't

[2019-05-11 15:08] yjose commented on #84
Hi @kevinlaw91
You just need to pass missed props to your trigger like the following :
[code]

https://codesandbox.io/s/2lv3wo9ly

[2019-05-11 15:08] #84 closed

[2019-05-11 16:31] yjose commented on #32
fixed :

[code]
see #74

[2019-05-11 16:31] #32 closed

[2019-05-11 16:43] yjose commented on #67
hi @rajeshviswanadhapalli1 ,

you just need to add the contentStyle to your Popup component like the following
[code]

[2019-05-11 16:44] #67 closed

[2019-05-11 16:53] yjose commented on #77
hi @janvandijke,
I think this is a natural behavior because of popup architecture.  the popup content is a child of popup overlay div which means that the blur effect will propagate to the popup content

[2019-05-11 16:53] #77 closed

[2019-05-11 16:56] yjose commented on #60
hi @itjayaprakash
This is an accessibility issue and I think @ndelangen can help on this.
any ideas @ndelangen ?

[2019-05-11 16:56] yjose commented on #60
hi @itjayaprakash
This is an accessibility issue and I think @ndelangen can help on this.
any ideas @ndelangen ?

[2019-05-11 16:58] #66 closed

[2019-05-11 17:10] #75 closed

[2019-05-13 02:25] leon2835 commented on #83
Sorry that i try to used codesandbox/ codepen but is not working. Just assume that when I implement
*  <Popup trigger={<button className="float-right" >{i18n.t("view_statistic")} </button>} modal>
      {close => (
        <div >
          <div className="close" onClick={close}>
            &times;
      </div>
          <TabsComponent /> <<<< new js file //import TabsComponent from "../Components

[2019-05-13 11:05] NinoMaj opened #87 "Animation API support timing"
I've seen in documentation that Animation API will eventually be supported, do you maybe have estimation when will that be? Is that something in the works already?

[2019-05-14 02:14] yjose commented on #83
To be honest I can’t understand what you’re trying to do. but you can use `onClose` to fix to delete any  Subscription and I guess your problem is related to `TabsComponent.js` implementation not the Popup component itself

[2019-05-14 02:14] #83 closed

[2019-05-14 02:19] yjose commented on #87
Yeah @NinoMaj , I am planning to support Animation API after upgrading the Popup to use React Portal API so we can add Animation without limitation.
with the current implementation, we have some issue with CSS `transform` properties.
I think I need 3weeks to a month to make this work and I will be happy if you have some ideas on how the animation API would look like?

[2019-05-14 02:19] #87 closed

[2019-05-14 09:36] rtm7777 opened #88 "different content for different triggers"
Hello, I have feature request/question

I want to show different content on different actions
Eg. on hover I want to show some simple text, but on click I want to show some list
I've tried this:
[code]

but looks like it's not possible
so this can be a question if I did it wrong or a feature request

Thanks!

[2019-05-14 19:05] #80 closed

[2019-05-14 19:07] #61 closed

[2019-05-18 10:11] janvandijke commented on #77
I understand, thanks.

[2019-05-19 01:57] yjose commented on #72
Hi @fdsero
`className` styling is supported on the last version [1.4.0](https://github.com/yjose/reactjs-popup/releases/tag/V1.4.0) so you can use Custom media queries

[2019-05-19 01:57] #72 closed

[2019-05-23 13:19] Mantower opened #92 "Position: relative permanently set on trigger elements"
### Version
v1.4.1

### Test Case
https://codesandbox.io/embed/polished-sun-nzz8o

### Expected Behavior
When one tooltip is open, you should not be able to interact with anything else in the DOM. This allows a tooltip to close if a user clicks anywhere outside of the tooltip.

### Actual Behavior
When rendering several tooltips, any tooltip trigger that has previously been rendered is keeping its

[2019-05-23 21:10] yjose commented on #92
Good catch @Mantower, and perfect explanation.
we add a `relative` to trigger to simplify the calculation for the tooltip position.
I thought that it wouldn't affect the popup behavior but it's not the case, I think we need to reset the position onClose.
lets me see if you can open a PR to fix it.

[2019-05-24 10:27] Mantower commented on #92
I'll see if I'll be able to find a solution. I'll get back to you.

[2019-05-29 07:58] Mantower commented on #92
@yjose Got any comments on the Pull Request?

[2019-06-13 23:38] mnmistake commented on #70
this is really an issue I cannot even solve it with Portal

[2019-06-14 00:05] yjose commented on #70
Hi @tweeklabs-isaac, I am not seeing Popup being covered by Parent in your example, can you check ?

[2019-06-14 00:10] tweeklabs-isaac commented on #70
@yjose yeah i'm not seeing it either now. it might have been fixed with the updates you made since i created this ticket. I'll update my project dependency and I'll close this ticket as soon as I see if its already working

[2019-06-14 00:54] #70 closed

[2019-06-19 17:41] AndreyYko opened #98 "Need to recalculate popup position when size is changed"
Hey. I found one weird behaviour with changing content size
The popup position are not recalculating when popup width is increased or decreased
Can you implement this feature, please?

[2019-06-20 00:55] yjose commented on #98
if you . are using the last version recalculating popup position on resize is activated by default check: https://codesandbox.io/s/k9k36x70kv

[2019-06-20 00:55] #98 closed

[2019-06-24 09:27] dhffdh opened #100 "mouseUp event at input-field out of modal closes modal"
If you pick/select a Input-field and hold the cursor outside the modal, the modal close down

[2019-06-24 09:33] dhffdh commented on #100
For example, if I allocate a value in the input, then the modal closes

[2019-06-24 09:42] dhffdh commented on #100
ex: https://codesandbox.io/embed/reactjs-popup-bug-dg6om

[2019-06-25 02:35] dhffdh commented on #100
New observation: if you add the property "inline", then this bug is not observed

[2019-06-25 02:42] dhffdh commented on #100
New observation: if you add the property inline, then this bug is not observed

[2019-06-25 10:53] yjose commented on #100
Hi @dhffdh, this is the default behavior because `closeOnDocumentClick` prop is true by default you can prevent closing the modal by adding `closeOnDocumentClick ={false}`
check  Component API page : https://react-popup.elazizi.com/component-api/

[2019-06-25 11:15] #100 closed

[2019-06-26 02:32] dhffdh commented on #100
But i dont want disable this function. I want close popup by onClick outside , but not mouseUp event.

[2019-06-26 20:48] reactedlau opened #101 "closeOnDocumentClick doesn't work if click is on a button"
If the user clicks on a button, the popup isn't dismissed even if `closeOnDocumentClick` is set to true. That's because the button will process the event first and swallow it. This can be fixed by changing this line:

https://github.com/yjose/reactjs-popup/blob/master/src/index.js#L354

to use `onClickCapture` to handle the click on the capture phase rather than the bubble phase. I believe this is

[2019-06-27 05:06] dhffdh commented on #100
same bug https://github.com/Semantic-Org/Semantic-UI-React/pull/3582

[2019-07-02 12:08] leonheess opened #102 "Trigger within table alters page on popup (adds phantom cell to table)"
### Version
`"reactjs-popup": "^1.4.1"`

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-xk0t3

### Expected Behavior
Modal/Popup comes up without any changes to the visible page behind

### Actual Behavior
A new cell is created and remains visible until the modal is closed

**Full page demo: https://xk0t3.codesandbox.io/**

[2019-07-06 20:30] gajus opened #103 "font-size is inherited from parent element"
### Version

1.4.1

### Test Case

https://codesandbox.io/s/reactjs-popup-issue-template-hz93r

### Expected Behavior

The actual tooltip element should be parent to <body> and absolutely positioned relative to the trigger element to avoid parent container bleeding styles to the contents of the tooltip.

### Actual Behavior

The actual tooltip element is placed next to the trigger element, causing

[2019-07-06 21:50] jeremym commented on #14
@yjose -- I was able to re-create this error by simply making the children be two sibling divs.

A pretty quick fix would be to change your propTypes validation for children from
`children: PropTypes.oneOfType([
      PropTypes.func,
      PropTypes.element,
      PropTypes.string,
    ]).isRequired,`
to
`PropTypes.node.isRequired`

which would also cover the `list of nodes` use case.

[2019-07-06 23:09] yjose commented on #14
@jeremym can you send a new PR with your suggestion?

[2019-07-06 23:38] jeremym commented on #14
Sorry Captain.  I don't have any time at the moment. :-)

To test the issue, simply have two sibling divs.
`<Popup><div /> <div /></Popup>`
The error will go away by changing this line:
https://github.com/yjose/reactjs-popup/blob/661d87f32630cc2029f7d5affe1531bef6d77f86/src/index.js#L392

Change the line to `PropTypes.node.isRequired` (or whatever the react library is doing now for their defaultPr

[2019-07-11 20:15] marvson opened #106 "Using with webpack css modules"
In the issue #61, you added support to use css classes by adding a sufix for the className provided for everything you can style, arrow, overlay, content. However, webpack css loader transform the names of the classes adding also a sufix.

A class named ".popup" becomes ".ReactComponentName__popup__1bT1k" where "1bT1k" is a random string and "ReactComponentName" is the name of the component that t

[2019-07-23 15:28] AdamLee321 commented on #87
Is there any progress on the Animation API? I am trying to do a simple fadeInUp but can't get it to work. Any ideas how to get it to work?

[2019-07-29 15:51] m-korkut opened #111 "popup_show_trigger Error"
I don't want to use trigger , ı use react state but ı get this error  **Cannot read property 'popup_show_trigger' of undefined**

	   `  <Popup
                          open={this.state.myPopupisOpen}
                          onClose={() => {
                                  this.setState({this.state.myPopupisOpen:false})
                          }}
                         modal

[2019-07-29 16:23] yjose commented on #111
hi @m-korkut, not sure about your problem. try to use  https://react-popup.elazizi.com/controlled-popup
or please  use https://codesandbox.io/s/n5q4zqw2n0 to illustrates your  problem.

[2019-07-29 19:50] m-korkut commented on #111
I found the problem, The problem stems from a different location,we can delete this question.
Thanks thank you for your help

[2019-07-29 20:53] #111 closed

[2019-08-01 03:41] avin-kavish commented on #92
You haven't done what he has asked you to do

[2019-08-01 03:46] avin-kavish commented on #106
CSS loader doesn't do this be default. Have you turned on CSS Modules?

[2019-08-01 03:57] avin-kavish commented on #55
@shdq

Except this is a component library meant for consumption by other projects and since new projects expect hooks support, it might be worth it.

@yjose
Since this is a visual component, I don't think hooks can change the way it is used. But re-writing in hooks _may_ lead to performance benefits if the `useEffect` hook is used as it is not render blocking. But if `useLayoutEffect` is needed, i

[2019-08-01 18:07] marvson commented on #106
At the time, I was starting to use webpack loaders, later I found out that, as you said, it has nothing to do with css loader. Now I'm fully using css modules.

What I did to "fix it" (actually a hack) was passing my style like this:

``className={`${styles.popup} dummy`}``

This way, no prefix is added to 'styles.popup'. The prefixes are only added to this dummy class name. This has the downside

[2019-08-01 18:16] avin-kavish commented on #106
yeah sure whatever works for you. I use emotion for styling. The point is that this issue is not relevant to this repo and can be closed.

[2019-08-01 18:22] avin-kavish commented on #103
your span is inside h2 too. It will inherit the styles regardless of whether it is inside the span or next to it.

[2019-08-01 18:26] avin-kavish commented on #88
What do you think the syntax should look like to support this?

[2019-08-01 18:33] marvson commented on #106
I'm ok with closing the issue, since it's working well here.

[2019-08-01 18:33] #106 closed

[2019-08-01 21:20] rtm7777 commented on #88
It can work as on my example: have some prop to accept function and return event type so I can decide what I need to render according to it, this is first thing on my mind, I can try to find some other options

[2019-08-02 03:00] avin-kavish commented on #88
No need, render prop sounds good. To elaborate on your example,
[code]

Another pattern would be to pass a function as children.

[code]
Any preference? In both cases, do you think props should be all the props passed to `Popup`, just the `on` event or specific props ?

Note: By `on`, I'm referring to the event that triggered the popup as opposed to the `on` prop passed to the component.

[2019-08-02 15:07] mcvladthegoat commented on #60
@yjose Is it ok if I'll try to solve this bug?

[2019-08-02 15:13] yjose commented on #60
Yeah sure, Go for it @mcvladthegoat

[2019-08-02 16:20] rtm7777 commented on #88
For my case it's ok to have only `on`, but maybe for some more specific case it's better to have other props (of course if it won't increase complexity of the package), so if those props are dynamic we can change some content behavior
I saw something similar on Formik's package

[2019-08-05 10:35] mcvladthegoat commented on #60
@yjose Cool :)

[2019-08-06 13:55] Akaren13 opened #114 "trigering popup from dropdown"
Hi, I am having trigering popup from popdown menu and because everything is inside popdown div, even popup is just small inside this div. How can I make it over whole page? I tried to use reference to trigger but it doesn't exist during render.
[code]

[2019-08-09 22:32] HyrumG opened #115 "React 16.9 warns about deprecated method usage"
This is not really a bug, feature request, or usage question so I'm not sure how to format this.

With the release of React 16.9, we are going back and fixing all of the warnings that we get while testing. One of those errors stems from `reactjs-popup`. Here is the warning:

[code]
This uses some of the methods that React has said are unsafe. They provide this link for how to migrate from the old

[2019-08-13 13:59] #92 closed

[2019-08-14 01:09] circlecodesolution opened #116 "How to close other tooltips?"
https://codesandbox.io/embed/reactjs-popup-issue-template-q9hpl
![image](https://user-images.githubusercontent.com/53724147/62987586-28aadb80-be5e-11e9-881e-d4b567dbeab0.png)

### Version

### Test Case
https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior

### Actual Behavior

[2019-08-22 14:33] ron4ex opened #118 "styled-components support"
### Version
1.4.2

### Test Case
https://codesandbox.io/s/styled-js-popup-dnknr

### Expected Behavior
`styled-components` should be able to wrap the component to override styles.

### Actual Behavior
Style overriding fails using `styled-components`. I think it would be fair to say that it is a generic usecase these days. `className` prop doesn't behave like normal `className`. It behaves more lik

[2019-08-25 21:09] gajus opened #119 "Unable to trigger Tooltip"
### Test Case

https://codesandbox.io/s/reactjs-popup-issue-template-vdusb

### Expected Behavior

Tooltip.

### Actual Behavior

Popup.

[2019-08-25 23:14] yjose commented on #119
Hi @gajus, this is the default behavior when you don't add the `trigger` prop. a tooltip should be always related to a trigger element ( we need to calculate position).

[2019-08-25 23:21] gajus commented on #119
I was expecting that it will just use parent element position.

I can just provide a dummy trigger.

The original intent was to have a reactjs-popup as a dropdown for a search input. I guess Input element could be added as trigger.

[2019-08-25 23:21] #119 closed

[2019-08-25 23:28] yjose commented on #119
Yeah correct any Html element can be a trigger

[2019-09-04 12:34] #115 closed

[2019-09-05 14:41] kahlan88 opened #126 "Height of the pop up in IE11"
In IE11 the pop up takes over the whole height of the screen.

Can be seen in the first example on https://react-popup.elazizi.com/home/.

[2019-09-07 06:31] gajus commented on #61
Was this closed without a solution?

This does not appear to be supported at the moment.

[2019-09-08 08:33] capan opened #127 "How can we add another React component inside a modal ?"
I'm trying to add another React component inside the modal. How can this be achieved using your component ?

[2019-09-11 11:36] raRaRa opened #128 "Crashes on hover with FontAwesome icons"
### Version
1.5.0

### Test Case
https://codesandbox.io/s/vigilant-kare-v48kh
Note how the app crashes if you hover the cursor over the question circle. Works great if the trigger has a div instead of FontAwesome icon.

### Expected Behavior
I excepted it not to crash. Unsure if this is a problem with how this library tries to handle the children within the trigger.

### Actual Behavior
Show toolt

[2019-09-11 11:53] raRaRa commented on #128
I can confirm that this only crashes on version 1.5.0, but works on version 1.4.2.

However, wrapping the FontAwesome icon within a div container seems to fix the problem.

[code]

[2019-09-11 12:31] raRaRa commented on #128
I've been digging a bit deeper, this crash seems to happen when the trigger is a functional component. This is the warning I get from React:

`Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?`

[2019-09-11 16:13] yjose commented on #128
correct @raRaRa, this is related to the depreciation of `findDom` function.  from the version 1.5.0 and above you need to forward ref for  trigger functions like the following :
[code]

Let’s me know if your problem still consists

[2019-09-11 17:50] raRaRa commented on #128
Hmm, so if I want to use `<FontAwesomeIcon>` as a trigger, I need to wrap it with `React.forwardRef`?

E.g.:
[code]

[2019-09-11 18:04] yjose commented on #128
Unfortunately, this won’t work correctly because FontAwesomeIcon dosnt supports refs, so you cannot pass `ref` as a prop.
https://github.com/FortAwesome/react-fontawesome/blob/master/src/components/FontAwesomeIcon.js

[2019-09-11 18:15] raRaRa commented on #128
Damn. Seems like a big limitation on this library :( I would expect it to work with any trigger. I guess I'll work around with putting FontAwesomeIcon in a container like div. Perhaps it could be an option?

[2019-09-11 18:29] yjose commented on #128
The only way you can get an element boundary is by using a ref or `findDOM` function from `react-dom`. I think FontAwesomeIcon should supporting `ref` in the first place.

As you mentioned you can put your icon in `span` and should work correctly.

[2019-09-11 19:15] #128 closed

[2019-09-14 17:10] leonbrag opened #129 "Component wrapped in Popup created twice"
### Version
1.5.0

### Test Case
I have following code that creates Popup window when image is clicked with AudioCalibrator child component.
The component is instantiate twice: first time without props
Second time with props.

This seems to be a bug: component should only be create once with the props.
[code]
In my component I have following code:

[code]
I can see that componentDidMount was calle

[2019-09-14 17:58] yjose commented on #129
Hi  @leonbrag, can you provide a codesandbox example 🙏.

[2019-09-14 18:57] leonbrag commented on #129
I tried creating fiddle https://jsfiddle.net/nv9xkcjq/3/ but I don’t know how to execute “npm install reactjs-popup –save” in the fiddle.
Therefore predictable line “import Popup from "reactjs-popup";” in the Fiddle fails

My code similar to the fiddle, except in my code I use image as trigger, not the label

[2019-09-14 20:45] yjose commented on #129
please use this codesandbox template https://codesandbox.io/s/n5q4zqw2n0

[2019-09-14 22:34] leonbrag commented on #129
My apologies. It was a bug in my code (component was created outside of the popup).
Thank you very much.
I will close bug

[2019-09-14 22:35] leonbrag commented on #129
It was user issue, there is no bug.

[2019-09-14 22:35] #129 closed

[2019-09-14 22:35] leonbrag commented on #129
no bug

[2019-09-15 21:18] njsys opened #130 "How to set the width of the popup?"
I am unable to change the width of the <popup> using styles. It always shows the popups with some width around 400-500 px. Style is having no effect. What am i doing wrong?
Thanks

Sample code.
<popup style{{width: 100px}}
   Open={this.state.showpopup}
div>
/div>
/popup>

[2019-09-15 22:48] yjose commented on #130
Hi @njsys, to customize popup width  you need to use `contentStyle` props : https://react-popup.elazizi.com/component-api/

[2019-09-15 22:48] #130 closed

[2019-09-18 11:43] prographo opened #131 "docs"
documentation. missing:

import {render} from 'react-dom';

[2019-09-18 13:28] yjose commented on #131
sorry @prographo, I am not sure what you mean docs missing?

[2019-09-19 01:26] kagant15 commented on #128
I agree with @raRaRa I would expect the trigger to accept any DOM element or react component without issue.

[2019-09-19 10:42] #131 closed

[2019-09-20 18:19] TuanNamVu commented on #32
Hi @yjose, I think the typescript definitions have to be adjusted for onOpen or onClose, since an event is taken as an argument

[2019-09-23 02:06] alekslario commented on #118
workaround

[code]

[2019-09-23 02:18] alekslario commented on #116
Same as #101

[2019-09-24 05:48] RichyNs opened #132 "Popup close on handle text change"
Hello,

I created a component popup which contains radio buttons and a textarea, when i type in the textarea or click a radio button the popup closes and the page is rerendered. How can I stop it from rerendering?

[2019-09-24 21:53] teagueash opened #133 "Cannot read property 'getBoundingClientRect' of undefined"
### Version
1.5

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-template-bupmc

### Expected Behavior
Clicking the material design icon should produce the popup.

### Actual Behavior
Component throws an error stating: 'Cannot read property getBoundingClientRect of undefined'

[2019-09-24 22:48] teagueash commented on #133
When I copy the files from the npm_modules directory to a directory local to my project I also get this compilation warning:
`
Warning: Function components cannot be given refs. Attempts to access this ref will fail. Did you mean to use React.forwardRef()?

Check the render method of `Popup`.
`

[2019-09-25 13:30] yjose commented on #133
same #128

[2019-09-25 13:30] #133 closed

[2019-10-10 19:06] dmatora commented on #25
@kunokdev that was helpful indeed

[2019-10-10 19:07] dmatora commented on #25
@yjose would be really nice to have an option that does this

[2019-10-21 01:25] skygdi opened #134 "open={this.state.open} can't control the popup correctly."
`<Popup modal
		            	trigger={<button className="btn btn-custom">CHOOSE YOUR STYLE</button>}
		            	open={this.state.open}
		            	lockScroll={true}>`

[2019-10-21 12:22] yjose commented on #134
Hi @skygdi can you provide a complete demo using codesandbox template

[2019-10-22 06:40] sowmika148 commented on #134
I have similar question, Though we click on the button can we stop the popup being displayed by some other props?

[2019-10-22 12:27] yjose commented on #134
you can use `disabled` prop

[2019-10-22 13:46] yjose commented on #134
you can check the code example for controlled popup https://react-popup.elazizi.com/controlled-popup/

[2019-11-01 11:16] svobom57 opened #136 "Invalid prop `offsetX` of type `string` supplied to `Popup`, expected `number`"
Hello, I'm not sure if this is a bug or a feature request. We have a use case where we need to offset the Popup using `rems` rather than `px` for the site to remain responsive. It works fine but it raises a warning.

### Version
1.3.1

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-template-7b42d

### Expected Behavior
When I set `offsetX` as a String value containing `rems` it shouldn

[2019-11-05 14:06] arikuza opened #137 "Warning: Stateless function components cannot be given refs"
Trigger cannot be a stateless function component, fixed wrapping by <div>

### Version
1.5.0

### Test Case
https://codesandbox.io/embed/reactjs-popup-issue-template-not5i

### Expected Behavior
no warns

### Actual Behavior
Warning: Stateless function components cannot be given refs. Attempts to access this ref will fail.

[2019-11-05 18:56] silvanavlima opened #138 "How can I modify as properties of the popup-content class?"
for example, I need change border. How can I do this?

[2019-11-05 20:17] yjose commented on #138
you can use `contentStyle` property : https://react-popup.elazizi.com/component-api/

[2019-11-05 20:18] #138 closed

[2019-11-06 13:53] yjose commented on #137
Hi @arikuza,
Starting from v 1.5.0  you need to forward ref manually to make sure strict mode would work correctly.
That's mean you need to use React.forwardRef to implement your trigger component:
[code]

[2019-11-06 13:53] #137 closed

[2019-11-07 17:51] jothreddy opened #139 "draggable react popup"
Hi,
   I am using reactjs-popup. How to I make the component draggable and resize when it is displayed?

Thanks in advance

[2019-11-07 22:35] yjose commented on #139
sorry @jothreddy, this is a library to build a popup component, adding draggable or resizing behavior is up to you. but for sure should work correctly with any implementation.

[2019-11-07 22:35] #139 closed

[2019-11-08 10:04] necheporenko commented on #126
The same issue.

![ie](https://user-images.githubusercontent.com/20722449/68467980-d2acc080-021f-11ea-8614-8fa5f61f30c9.png)

[2019-11-11 17:05] timcan commented on #126
Confirmed as well.

[2019-11-18 12:05] deg commented on #137
I have a component that wraps Popup and, in turn, receives `trigger` from its users. Some of its callers passed function components, so I had this problem sometimes.

I was able to fix it with
[code]

I suspect/hope you can do a similar check inside Popup to fix this issue automatically for all users.

[2019-11-19 13:18] silvanavlima opened #141 "How I can render the popup in method?"
how I can render the popup in method?
For example: I want use the popup for message the success or error.

[code]

[code]

[2019-11-21 08:22] kop57890 commented on #126
I also have this issue when using the popup on IE11, can someone help to fix it? Many thanks!

[2019-11-21 11:47] yjose commented on #126
hi guys, I didn’t Have an IE11 to fix it,  sorry for that. but I think you can use `contentStyle` to set the popup Height.

[2019-11-22 03:29] kop57890 commented on #126
Hi @yjose, thanks for your kind tips.
I'm wondering how can I use the contentStyle to fix the problem on IE.
Following is my code that is using in our UI:
[code]

[2019-11-22 12:57] yjose commented on #126
`contentStyle` is a component prop with style type, so
[code]

[2019-11-22 16:29] #141 closed

[2019-11-25 06:20] kop57890 commented on #126
Thanks for the help, it works fine in IE11 now!

[2019-11-28 19:06] zakariaelas commented on #136
I might be wrong, but I dont think this works as one would expect. If you provide anything other than a number to offsetX (or offsetY), the coordinate will eventually resolve to `NaN` ([code])(https://github.com/yjose/reactjs-popup/blob/master/src/Utils.js#L85). From your code sandbox, if you try using any other value like "2rem" or "3rem", you will notice that the popup actually does not change i

[2019-11-29 11:16] Ploppz opened #144 "onClick of child is ignored"
I have this code:

[code]

Clicking the `IconButton` calls `this.selectJob`, which fetches a resource from a server and updates `this.state.selected_job` with the data it got from the server.

With how it currently works, the above code does not work because `Popup` seems to ignore or override the `onClick` of its child.
I did however manage to work around this by putting the `onClick` on the `Ass

[2019-11-29 12:23] yjose commented on #136
Hi @svobom57 , for now, `offsetX` and `offsetY` only accept a number [code](https://github.com/yjose/reactjs-popup/blob/master/src/Utils.js#L85 ).

@zakariaelas  if you are interested to send a PR to support `rems`, you can use `calc()` CSS operator instead of simple javascript + / - operations.
That's mean  you need to change
[code]
to

[code]
and the same for `left`

also, need to check if `offs

[2019-11-29 12:28] yjose commented on #144
Hi Ploppz , thank you for your remark.
Can you  please provide a working code sandbox with you issue using code sandbox template   https://codesandbox.io/s/n5q4zqw2n0

[2019-11-29 12:56] Ploppz commented on #144
https://codesandbox.io/s/reactjs-popup-issue-template-mtd0k

[2019-11-29 13:22] Ploppz opened #145 "Position is not recalculated on content change"
https://codesandbox.io/s/reactjs-popup-issue-template-8hzrh

As you can see, the position of the popup is wrong when the contents is updated.
In my application, I only start loading the data to show once the user clicks the trigger of the popup, so the popup will be empty (or perhaps some "loading..." text) for a while just as in the above demo.

[2019-11-29 15:04] zakariaelas commented on #136
Alright, thanks. Will work on it.

[2019-11-29 15:39] zakariaelas commented on #116
@yjose I have looked through this. I don't think the solution proposed in #101 solves the problem, onClickCapture would not work in this case. I believe that the problem is related to the stacking order in this specific example.
The following sequence of actions will help prove this point further:

1. When clicking the first button, notice how clicking any of the other buttons successfully dismiss

[2019-12-01 03:02] zakariaelas commented on #136
@yjose I tried looking into what you suggested a little further. Doing as you said will actually break checking if the calculated position is going out of bounds ([Step 4](https://github.com/yjose/reactjs-popup/blob/master/src/Utils.js#L17) of the algorithm to calculate positions).
The following check will not work as expected as strings will be compared to numbers:
[code]
### Proposition 1
If you

[2019-12-12 19:01] JefferyHus commented on #116
@zakariaelas good explanation mate, you should add references to your PR with a small description. So far reading your last comment makes sense, I will also give it a look and have a clearer idea. Cheers

[2019-12-13 11:40] abhijitkc opened #147 "Remove overlay while displaying menus onclick"
### Version

### I want to remove the overlay while displaying menus onclick.

### There is overlay for the menus when we open it on click.

![overlay onclick](https://user-images.githubusercontent.com/36158867/70798037-e7a2e380-1dcb-11ea-9318-6787e8dfe32d.png)

[2019-12-21 03:49] RainbowAsteroids commented on #61
You can address the popup itself via `.popup-content` and use `!important` to overwrite the inline styles. It's not perfect, and it won't let you append extra classes, (so you can't do `.popup-content.modal`) but it's bettter than nothing.

[2020-01-17 18:58] Ianohurr commented on #144
@yjose Did anything every happen with this? I'm having a similar issue trying to run an error check before the modal opens, but onClick does nothing when the button is set to the trigger.

[2020-02-24 17:35] svobom57 commented on #145
+1

Experiencing the same issue.

[2020-03-05 23:11] seare-kidane commented on #126
I also have the same problem and fixed it by adding the missing modal styles:
[code]
which should have been added since we are using flex for alignment in _index.css.js_
[code]

Until this is fixed, set popup prop **overlayStyle** to:

[code]

[2020-03-06 02:00] #126 closed

[2020-03-12 18:27] teagueash commented on #46
Totally agree with this.

Seems like a bad idea that creates all sorts of issues when trying to render popups/modals inside DOM elements. I'd love to hear the author of this library's reasoning/thoughts on that design choice.

[2020-03-13 05:55] zhaoyao91 opened #159 "Feature: allow render content into a portal"
Currently it place the content box just next to the trigger element. If the trigger element is inside a container which has style `overflow: hidden` or `overflow: auto`, the popup cannot really popup outside of it and thus being hidden.

In other popup/tooltip solutions, they render content in the body, which make sure the popup always get rendered. If reactjs-popup allow us to render the content

[2020-03-16 20:13] olso commented on #114
I'm not sure if this is what you're looking for but you can have trigger like so

[code]

and for example on input change

[code]

[2020-03-25 13:44] razdahan opened #161 "Shows white line no content"
Sorry for ignoring the bug template but I have the simplest problem.
I just install the reactjs-popup 'npm install --save',
then I went to the docs and copied
[code]

also copied the CSS comes with it in the docs but when I check the website I click the button and all I see is a white line
![image](https://user-images.githubusercontent.com/29332762/77542761-57d30200-6eaf-11ea-9658-b77423e084f1.png

[2020-03-30 13:14] cullsin opened #162 "popup is not closing which is inside the array list in each item"
I have a popup dialog inside an array list and each item has it is own popup dialog option. It is working fine and when I try to close the popup modal it is not closing it up.

        [
                     <Popup
                        closeOnDocumentClick
                        open={this.state.isModalCommentOpen}
                        onClick={() =>
                          this.openModal

[2020-03-30 16:44] yjose commented on #162
need to remove the `open` prop  to make sure the Popup in unControlled

[2020-03-30 16:44] #162 closed

[2020-03-30 16:48] yjose commented on #161
Make sure you don't have some CSS styling that overrides modal style, Just tested the example inside a sandbox example and it works as expected https://codesandbox.io/s/reactjs-popup-issue-template-2pyv4

[2020-03-30 16:49] #161 closed

[2020-03-30 16:50] yjose commented on #147
Can you please provide a code sandbox example for your case

[2020-03-30 16:50] #147 closed

[2020-03-30 16:54] yjose commented on #144
@Ploppz  @Ianohurr  using `onOpen` should work in such case   https://codesandbox.io/s/reactjs-popup-issue-template-g92tr

[2020-03-30 16:54] #144 closed

[2020-03-30 16:55] #134 closed

[2020-03-30 17:06] #127 closed

[2020-03-30 17:06] #114 closed

[2020-03-30 17:08] #103 closed

[2020-03-30 18:41] cullsin commented on #162
Hello,

If  that is the case, how do I close the popup after successful transaction inside the popup ?

https://codesandbox.io/s/reactjs-popup-issue-template-dv61j

Thanks.

[2020-03-30 18:52] yjose commented on #162
Use render prop pattern to close the popup whenever you want
https://codesandbox.io/s/reactjs-popup-issue-template-8yoji

[2020-04-02 19:05] d-pollard commented on #159
yeah, this is a really painful sticking point

[2020-04-04 10:25] fromi commented on #46
I think it's related with this webkit bug: https://stackoverflow.com/questions/2637058/positions-fixed-doesnt-work-when-using-webkit-transform

[2020-04-12 12:01] KumarAbhirup commented on #118
The `trigger` prop accepts only a JSX Element and not a Styled Components. Any workaround here?

[2020-04-13 04:50] KumarAbhirup opened #165 "Controlled Dropdown"
### Version
v1.5.0

### Test Case
As seen in docs, [https://react-popup.elazizi.com/controlled-popup](Controlled Popup) works as expected.

But how do I get a controlled Dropdown?

[2020-04-14 01:33] xyyimian opened #166 "CustomModal not work"
When I want to use Custom Modal, the pop up window shows no content.  Here is my code.
[code]
So I tried directly copy and paste demo code below. It still shows no content. Could you please tell me how to fix this? Thanks!
[code]

[2020-04-14 01:43] #166 closed

[2020-04-20 11:02] sagarCS opened #167 "Pop inside trigger Attribute of popup"
###HELP NEEDED HERE
Hey  folks,
                I just wanted to ask what if i have a pop and the trigger attribute has a div and the div itself has Popup with trigger attribute has button so when i click the div it opens both popup the parent also and its own popup also, I dont want the parent Popup to get open when i click the div inside the trigger attribute of parent
somewhat like this:
###Exa

[2020-04-22 17:08] gregfenton opened #168 "Example of how to get input data from popup"
Each of the examples provided essentially show "read-only" data.  It would be great to show an example of capturing input from the user and how the app can use that data.

For example, put a text input field on one dialog.  When the user closes that dialog, have the data from that field be used by the parent component in some way (maybe have the parent open a second dialog displaying the value?)

[2020-04-22 18:19] wadya opened #169 "More than one CSS class in className crashes application"
https://github.com/yjose/reactjs-popup/blob/0552279329033c5af75bdf788f29eb0f100b2836/src/index.js#L236

In case of className={"class1 class2"}
method add()
Throws an "InvalidCharacterError" DOMException if one of the arguments contains any ASCII whitespace.
https://dom.spec.whatwg.org/#dom-domtokenlist-add

[2020-04-22 21:25] gregfenton opened #171 "Flag for "dismissing" a modal"
To me, there is a difference between a modal being closed because of someone clicking a "save" or "close" button versus them pressing ESC or clicking outside of the dialog.

The FetchValuesFromModal story shows a manual way of detecting that a modal's "save" button was clicked.  It would be helpful to get a flag passed to the onClose handler that indicates that the dialog was "dismissed" versus cl

[2020-04-23 10:30] Husky931 opened #172 "Sending an image as prop from parent"
Hello,

I have imported an image in the parent component and sent it as a prop to the child (few destinations down the tree is the popup component). The popups are set to display each child there way, but instead of a picture they display a string with the message: /static/media/subway.83af12f9.jpg. So no picture, just a text message instead. What is the reason for this?

[2020-04-24 03:15] Husky931 commented on #172
Nevermind, found a solution. Just put the image in a separate component and sent the component itself.

[2020-05-11 12:40] josdejong opened #174 "Do not close modal on mouseup outside the modal but on click"
Thanks for sharing this library, it works like a charm :+1: .

We came across a small issue: when selecting text in a popup and having mouse-up event occur outside of the popup, the popup is closed. It would be nice if this would not close the popup, and the popup is only closed when really clicking outside (mouse down and mouse up outside). Would that be possible?

To reproduce:

- Open https://r

[2020-05-11 13:51] ArunKathir98 opened #175 "Automatic close popup particular time out"
### Version

### Test Case
https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior

### Actual Behavior

[2020-05-11 13:52] #175 closed

[2020-05-12 06:40] wadya commented on #169
Here is the solution to the problem:
const classList = className.split(' ');
for ( let i = 0, len = classList.length; i < len; i++ ) {
    this.ArrowEl.classList.add(\`${classList[i]}-arrow\`);
}

[2020-05-15 19:17] lainermeister commented on #159
Does anyone know of a good library that portals popup content?

We were using semantic-ui's but once you have a nested sub-menu, `onClick` functions do not get registered in the 2nd layer of the popup - getting overridden by the pop-up change handlers.

I would love to give this library a try, but also need the portaling feature.

[2020-05-16 22:00] yjose commented on #159
@zakariaelas  @lainermeister  Portal is coming with v2

[2020-05-18 06:55] zhaoyao91 commented on #159
@yjose do you know when v2 will be released?

[2020-05-25 12:21] vzaidman commented on #159
Portal is coming with v2! Wow!
Can i help somehow with releaseing it? any PR or something?

[2020-05-25 23:53] Eliav2 opened #178 "passing className to Popup component doesn't do anything"
### Version

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-css-u137s?file=/src/index.js

### Expected Behavior
assigning css properties on popup menu with `className` WORK as it works when giving Popup component styling using `contentStyle` with just jsx.

### Actual Behavior
assigning css properties on popup menu with `className` DOES NOT WORK as it works when giving Popup component

[2020-05-29 09:15] josdejong commented on #174
For anyone with the same issue, I created the following workaround:

[code]

Not ideal but it does the job.

[2020-06-12 10:34] mcvladthegoat commented on #60
@itjayaprakash i finished this feature. Waiting for PR approve.
You can try it here (forked repo): https://github.com/mcvladthegoat/reactjs-popup/tree/feat/popup_blur_tab
So if you need to close popup when Tab key pressed, just add prop `closeOnKeyboardBlur={true}`to `<Popup />`
For example (according to your sandbox https://codesandbox.io/s/40o5k83m1w):
[code]

[2020-06-17 21:43] vtarelkin opened #181 "popup with arrow breaks the arrow when i forcly open the popup"
I have a popup in my react-table's header

[code]
I have checkbox inside the popup which sets the visibility of the column, so it re-draws the table.
After I'm clicking on the checkbox the popup closes. I don't like such behavior and I set wasPopupOpen to true. After that popup stays opened but arrow breaks. If I set arrow to false it looks ok, but I like arrow))) Also I noticed that the popup aft

[2020-06-19 13:29] vtarelkin opened #182 "is it possible to place popup code in one place and trigger in another?"
When I put popup in my react-table (popup is triggered after I click on  header of the first column) it is re-rendering and popup dissapears. I want to re-render the table, let the trigger to be on the header but put code out of the table, so popup shouldn't dissapear.

Is it possible? Maybe refs?

[2020-06-19 14:43] yjose commented on #182
Hey @vtarelkin , can you provide a codesandbox example to see if I can help on this 👍

[2020-06-19 15:03] yjose commented on #181
Hey @vtarelkin , can you provide a codesandbox example to see if I can help on this 👍

[2020-06-19 15:11] yjose commented on #178
hey @Eliav2, tyou cant override inline style using className, to override default styling such as `width` you need to use `contentStyle `.

[2020-06-19 15:11] #178 closed

[2020-06-19 15:56] Eliav2 commented on #178
You should apply default styling to your component in css so it will not override user css inline styling.

[2020-06-20 08:23] sergeyt opened #183 "closeOnDocumentClick does not close already opened popup"
### Version
1.5.0

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-template-uxs0i?file=/src/index.js

### Expected Behavior
When using `closeOnDocumentClick` Popup must close previously opened Popup and open new one.

### Actual Behavior
1. Click on First. See fist popup
2. Click Second. See two popups shown

[2020-06-20 11:57] vtarelkin commented on #182
@yjose good question.
it doesn't allow me to create a sanbox, please consider very simple example from your
https://codesandbox.io/s/k9k36x70kv?file=/src/examples/InputFocus.js:262-326
- I just put the input out of the trigger, but I still want the popup to be triggered by input  BUT I don't want the input to be rendered INSIDE the <Popup>
[code]

[2020-06-23 09:28] vtarelkin commented on #182
@yjose BTW There is another approach. I don't want to use open={state_param} option in popup, because it want uncontrolled popup with arrow and position in exact place. I want to avoid open parameter in popup and I want to set the trigger on header's element but outside of the react-table code.

[2020-06-23 10:06] yjose commented on #182
@vtarelkin  change `trigger={refToInput.current}` by `ref={refToInput}` and you ref should have access to  Native Components functions   such us `openPopup`
check this example : https://github.com/DevC-Casa/geeksblabla.com/blob/master/src/components/Suggest/auth0.js

[2020-06-23 12:53] vtarelkin commented on #182
@yjose thank you for your answer.

Yes, I used `ref` in popup. And in onClick() of the element I did  `onClick={() => popupRef.current.openPopup()`

It worked, but: the popup appears in random place. Yes, I can put it in right place with margins and padding, tops and lefts, but I still want to use position option, but unfortunately popup doesn't take it. Also I want to have stylish arrow but it do

[2020-06-23 15:42] yjose commented on #182
If you are using popup you should add trigger element, you can create an empty div and set the position you want or you can use Modal,
To style arrow, you can use 'arrowStyle'   property

[2020-06-24 00:26] virtumonde opened #184 "onClick not triggered inside deep children"
### Version 1.5.0

### Test Case
PopupCard dump component:
[code]
onClick works inside the root level:
[code]
but not if it is inside another component, such as PopupCard:
[code]

[2020-06-24 02:11] virtumonde commented on #184
Turns out if you put your root component (PopupCard in my case) inside the `children` prop, it works although the documentation https://react-popup.elazizi.com/react-tooltip/ doesn't inform about it.

[2020-06-24 14:07] yjose commented on #184
hey @virtumonde , from my first look I am seeing that `props.that `  inside PopupCard is incorrect as props is not declared,
please make sure to provide a code sandbox for your example.

[2020-06-24 14:07] #182 closed

[2020-06-24 14:08] #181 closed

[2020-06-24 16:46] vtarelkin commented on #182
@yjose any example, please? I cannot understand how I can handle this with empty div

[2020-06-25 02:19] virtumonde commented on #184
@yjose this is only a part of my function, `props` is declared.

[2020-06-28 00:15] virtumonde opened #185 "Feature proposal: Render tooltip popup programmatically"
One very useful feature would be rendering the tooltip popup programmatically. Right now as I understand you can trigger it only using a button:

[code]

My proposal is to give the user the ability to trigger the display using a function:

[code]

[2020-07-03 16:37] vtarelkin commented on #185
@virtumonde there is an ` open={true} `param you can use)

[2020-07-03 17:04] yjose commented on #185
you can use  `open` prop and use the component as a controlled popup, but also you can access to popup internal functions such us `openPopup` using refs.

[code]
and you can use ref to call popup functions
[code]

[2020-07-03 17:04] #185 closed

[2020-07-03 17:05] yjose commented on #184
@virtumonde can you please provide a codesandbox for your example

[2020-07-03 17:16] yjose commented on #171
I think this is a good feature we need to implement

[2020-07-04 06:55] vtarelkin commented on #182
if anyone will be there

I just did an empty div and put trigger in it

[code]
In the main div I am using to trigger the popup I set the onClick to change the state of {wasPopupOpen}
[code]
I also make some adjustmenst on popup window so it looks like inside of that div.

[2020-07-09 19:50] rathoregee opened #186 "How to stop popup to close when you click on back grey area / popup-overlay"
How to stop popup to close when you click on back grey area / popup-overlay

thanks in advance

[2020-07-09 22:00] yjose commented on #186
@rathoregee  you can set  `closeOnDocumentClick`  to `false`

[2020-07-09 22:00] #186 closed

[2020-07-15 05:13] Solid-Metal opened #187 "closeOnDocumentClick still allow pop up to close when clicked outside of the content / on the gray overlay"
i have the same problem with this thread : https://github.com/yjose/reactjs-popup/issues/186

seems author said close on document click prevent it, but on my case it doesn't

here the snippet

`<Popup
                            open={this.state.tac}
                            onClose={this.closeModal}
                            contentStyle={{ borderRadius: 8 }}
                            lock

[2020-07-15 05:26] #187 closed

[2020-07-15 05:26] Solid-Metal commented on #187
my bad

[2020-07-16 18:57] LeonineKing1199 opened #189 "Using popup in table body seems to erase key prop on tr elements"
I'm using version 1.5.0 and I have a table layout.

For certain columns in this table, I have the Popup trigger. Every time I open up the popup and re-render the table, the key prop doesn't seem to get applied as React complains about it being missing.

[code]

[2020-07-16 22:00] Danscap opened #190 "Could not get this to work for my purposes. Does not work inside child components, only a root component. Docs not helpful."
I have the navigation menu below.

![image](https://user-images.githubusercontent.com/34867523/87726915-ef759c80-c78d-11ea-878c-25f076988ce4.png)

This is the code I am trying to use:

![image](https://user-images.githubusercontent.com/34867523/87727068-40859080-c78e-11ea-94ad-5a25f34fd64d.png)

![image](https://user-images.githubusercontent.com/34867523/87727191-7fb3e180-c78e-11ea-870e-70e6125576

[2020-07-17 20:31] robbertkl commented on #77
Instead you can do this:

[code]

That way, it will only apply to the content behind the overlay. Please note browser support for CSS backdrop-filter might be a bit less, but it's a good solution where the blur is not essential.

[2020-07-24 15:57] Sislar opened #192 "Display different between desktop and iOS"
My app had main div that covers the View port, this has a child div that slides out from the side as a control panel there are
several controls that work fine however two buttons are popups.  On the desktop when I click either I get the model dialog as expected that is centered in the viewport. However when this same page is on iOS (ipad or iPhone) then the popup is "within" the smaller div and is

[2020-08-04 09:29] erisnuts commented on #183
I fixed this with react-onclickoutside.
Wrapper:
`import React from 'react';
import onClickOutside from 'react-onclickoutside';

interface IContentWrapper {
  children: JSX.Element;
  onClickOutside: () => void;
}

class OnClickOutsideWrapper extends React.Component<IContentWrapper> {
  handleClickOutside = () => {
    setTimeout(this.props.onClickOutside, 200);
  };

  render() {
    return <>{th

[2020-08-04 09:32] erisnuts commented on #183
I fixed this with react-onclickoutside

[2020-08-06 13:25] dlimx opened #195 "Feature: controlled canClose"
Hello,

For our usecase, we have a form contained within a popup and want to be able to control *when* a user can close the popup, especially on `closeOnDocumentClick` and `closeOnEscape`. This allows for more finegrained control of the popup experience.

Technically this is achievable with a controlled popup at the moment, but this required a lot of custom logic that pretty much duplicates the pr

[2020-08-14 11:27] amitpatel9169 opened #197 "Close the popup on another popup open"
I Use this package in my project.
I need to close the popup after another popup open in some cases.
so what can I do for this situation?

[2020-08-18 06:48] net-bet opened #198 "Styling with styled components when arrow={true}"
### Version
latest

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-template-forked-qrmxv?file=/src/index.js

### Expected Behavior
Styling works?

### Actual Behavior
Error when I trigger the popup:
Failed to execute 'add' on 'DOMTokenList': The token provided ('sc-AxjAm eiefsA-arrow') contains HTML space characters, which are not valid in tokens.

In general, all I want is the ability

[2020-08-24 04:43] dalepres opened #199 "Feature Request: Documented sample app including popup"
I know it seems trivial but as a developer new to react, it would be helpful to see not just the documented ways to trigger and create popups but to also see how it fits into an existing app.  For instance, I have an app with a parent component that contains a collection of components.  How and where would I insert the popup code to make my app work until the trigger is executed?

[2020-08-24 15:12] yjose commented on #199
the  popup implementation should work on every react project, try to copy-paste one of the [examples](https://react-popup.elazizi.com/), should work correctly

[2020-08-24 15:12] #199 closed

[2020-08-24 15:14] yjose commented on #198
for now, you can only style the popup arrow using className (global CSS) or using `ArrowStyle` prop(inline CSS )

[2020-08-24 15:14] #198 closed

[2020-08-24 15:15] #197 closed

[2020-08-24 15:18] yjose commented on #195
Thank you @dlimx for your suggestion, I think this would be the normal behavior with `reacjs-popup` v2  as we rewrite the component using hooks and function component instead of a class.

[2020-08-24 15:20] net-bet commented on #198
I think the arrowStyle can work great for me, where can I find a documentation/example how to set it up

[2020-08-24 15:20] yjose commented on #192
hey @Sislar , can you please provide a codesandbox project  for your use case

[2020-08-24 15:21] yjose commented on #190
should be fixed with v2 as we start using portals

[2020-08-24 15:36] Sislar commented on #192
I finally track it down and it wasn't the popup code.

I had Overflow:auto and it behaves differently in the Ios Chrome  vs
desktop Chrome.  So was a Css issue or
maybe a chrome bug as I don't know why it should be different.

On Mon, Aug 24, 2020 at 11:20 AM Youssouf EL AZIZI <notifications@github.com>
wrote:

[2020-08-24 17:09] yjose commented on #192
Great, I think we need to close this issue  😄

[2020-08-24 17:09] #192 closed

[2020-08-24 17:12] yjose commented on #198
@net-bet check the component API page https://react-popup.elazizi.com/component-api/  maybe you can get some inspiration from  initial styling => https://github.com/yjose/reactjs-popup/blob/master/src/index.css.js#L21

[2020-08-25 08:32] net-bet commented on #198
awseome! exactly what I needed

[2020-08-25 22:55] dlimx commented on #195
Will you be accepting PRs for v1? Or help for v2?

[2020-08-26 16:19] yjose commented on #195
the v2 will be published by the end of the week, then we can test it to see if it ready for your use case

[2020-08-29 06:04] amitpatel9169 opened #200 "Multiple popups open-close issue"
In my case, I have 3 popups on one page.

assume that I have 2 popups and
trigger1 popup is open and click on trigger2 popup button then I want to open trigger2 popup and trigger1 popup closed

code sandbox demo:-
[https://codesandbox.io/s/pedantic-haibt-p1m32](                                https://codesandbox.io/s/pedantic-haibt-p1m32)

image of the multiple popups:-

[2020-08-29 11:20] yjose commented on #200
Hey @amitpatel9169 , i am planning to release v2 tomorrow, for sure will fix your issue

[2020-08-29 12:01] amitpatel9169 commented on #200
@yjose thanks for the reply. I am waiting for v2

[2020-08-30 15:09] yjose commented on #200
@amitpatel9169  just pushed a new prerelease with the fix
https://codesandbox.io/s/runtime-rgb-fdj2v?file=/src/App.js

[2020-08-30 16:02] Nazar-cmd commented on #190
As a temporary decision you can wrap your component with div or any other tag, but not with <> or <React.Fragment>. Because with using latter there will be no error, but popup won't be showing
`
<Popup
                trigger = {<div> <Combobox/> </div>}
                position="top center"
                on="hover"

                <span> {error} </span>
</Popup>
`

[2020-08-30 16:59] yjose commented on #190
Just pushed a new pre-release 2.0.0-0, can you please make sure it's working correctly for your use case

[2020-08-31 05:13] amitpatel9169 commented on #200
@yjose Thanks, my issue is resolved using an updated version

[2020-08-31 07:09] amitpatel9169 commented on #200
@yjose issue is resolved but my custom popup and model design is totally changed in the new update installation.

so, any solution for the design issue by your end?

[2020-08-31 10:45] yjose commented on #200
Make sure to import default css from package,
Import 'reactjs-popup/dist/index.css'

[2020-08-31 12:37] amitpatel9169 commented on #200
@yjose Something is missing in your new version uploaded

check once because import CSS statement not working it gives the error

error:- Module not found: Can't resolve 'reactjs-popup/dist/index.css'

and package reactjs-popup@2.0.0-1 is already on my project

[2020-08-31 12:42] yjose commented on #200
@amitpatel9169 , can you please tell me exactly how the design has been changed?
for now, forgot about Import 'reactjs-popup/dist/index.css' as it will be the default  in the next version

[2020-09-01 09:08] amitpatel9169 commented on #200
@yjose no problem. the design issue is not a big deal for me I will handle it by my side.

thanks for the support

[2020-09-01 15:32] #169 closed

[2020-09-04 01:58] #190 closed

[2020-09-04 01:59] yjose commented on #189
try using v2

[2020-09-04 01:59] #189 closed

[2020-09-04 02:00] #167 closed

[2020-09-04 02:00] #165 closed

[2020-09-04 02:01] yjose commented on #60
with v2 this should work as expected

[2020-09-04 02:01] #60 closed

[2020-09-04 02:01] #184 closed

[2020-09-04 02:01] #55 closed

[2020-09-04 02:02] yjose commented on #76
check v2

[2020-09-04 02:02] #76 closed

[2020-09-04 02:03] yjose commented on #46
we implement v2 using portal which fixes the issue

[2020-09-04 02:03] #46 closed

[2020-09-04 02:03] #172 closed

[2020-09-04 02:04] #88 closed

[2020-09-04 02:05] yjose commented on #174
fixed v2

[2020-09-04 02:05] #174 closed

[2020-09-04 02:05] yjose commented on #116
fixed on v2

[2020-09-04 02:20] yjose commented on #183
fixed with v2 : https://codesandbox.io/s/reactjs-popup-issue-template-forked-bs3vd?file=/src/index.js

[2020-09-04 02:20] #183 closed

[2020-09-04 02:21] yjose commented on #101
fixed on v2

[2020-09-04 02:21] #101 closed

[2020-09-04 02:21] #116 closed

[2020-09-04 02:29] yjose commented on #102
fixed : https://codesandbox.io/s/reactjs-popup-issue-forked-96zis?file=/src/index.js

[2020-09-04 02:29] #102 closed

[2020-09-04 02:33] yjose commented on #118
starting from v2 we support styling with `styled-components` https://codesandbox.io/s/styled-js-popup-forked-uk94g?file=/src/index.js

docs => https://react-popup.elazizi.com/styled-styling

[2020-09-04 02:34] yjose commented on #159
v2 is here : https://github.com/yjose/reactjs-popup/releases/tag/v2.0.0

[2020-09-04 02:34] #159 closed

[2020-09-04 02:34] #118 closed

[2020-09-04 10:22] amitpatel9169 commented on #200
hey @yjose please look at the below codesendbox demo

link:- [https://codesandbox.io/s/hardcore-clarke-k6wq4](https://codesandbox.io/s/hardcore-clarke-k6wq4)

In this demo one popup and in the popup one model

on a button, click open the popup, and after a click on the open model button  model is open perfectly but
even I clicked on the model inside content then close the model and popup both

if

[2020-09-04 10:32] yjose commented on #200
Starting from v2 You need to set nested prop to true https://react-popup.elazizi.com/migrate-from-v1-to-v2

[2020-09-04 12:11] #200 closed

[2020-09-04 23:22] csalgau opened #202 "Incorrect lockScroll behaviour on controlled modals"
In v2 lockScrolll() and resetScroll() are only called on uncontrolled behaviour for Popups.
The useEffect hook only toggles the `open` state.

### Version
2.0.1

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-template-forked-jh2bd

### Expected Behavior
`overflow: hidden;` set on body on open
`overflow: auto;` set on body on close

### Actual Behavior
no style set on body on open
`over

[2020-09-05 14:27] yjose commented on #202
nice catch @csalgau , woking on a fix ....

[2020-09-05 15:10] yjose commented on #202
the fix didn't work with the default open popup, will be fixed ASAP

[2020-09-05 15:44] #202 closed

[2020-09-05 15:52] yjose commented on #202
fixed => https://codesandbox.io/s/reactjs-popup-issue-template-forked-z0j2n?file=/src/index.js

[2020-09-07 09:19] josdejong commented on #174
Thanks for the fix Youssouf 👍 ! I can confirm it works like a charm now.

[2020-09-14 16:10] ridergoster opened #208 "content with fixed position on scroll"
with the new major version my tooltip inside a navigationbar have a weird position on open after scrolling the window. It's because of this.

[code]

### Version 2.0.3

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-position-fixed-vpeih

### Expected Behavior
fixed position on content should not be change by scroll value from window

[2020-09-14 21:39] staminaloops commented on #208
I'm having a similar problem:

If you place the component inside a scrollable container, open the tooltip and then scroll the container, the tooltip position is not updated.
Even if you set the container as `keepTooltipInside`.
I think it always tries to update the position based on the window scroll and not on the container scroll position.

Thank you for this awesome lib and let me know if you w

[2020-09-14 22:14] yjose commented on #208
@ridergoster , @staminaloops nice catch, thanks
I can confirm, it's a bug 🤨 for trigger with fixed position.
Will try to find a solution ASAP, would love to hear your thoughts in case 🙏

[2020-09-14 22:54] staminaloops commented on #208
Sure :)

Here, try to open the tooltip and then scroll the container:
https://codesandbox.io/s/reactjs-popup-issue-position-fixed-forked-r6r26?file=/src/index.js

[2020-09-18 09:31] amitpatel9169 opened #209 "Get the console error"
I don't know why but in my project show the below error in console.

e.current.contains is not a function

![image](https://user-images.githubusercontent.com/54776777/93581987-7a0d8e80-f9bf-11ea-9e4d-0b1a44d01b78.png)

Can anyone help me to remove this error

[2020-09-18 11:13] yjose commented on #209
@amitpatel9169 can you please provide  a codeSandbox  for your issue 🙏

[2020-09-19 13:04] amitpatel9169 commented on #209
@yjose sorry my bad
Issue is resolved I directly use the link(a tag) in trigger popup open-close that's why console error is coming

like this,

        {(close) => (
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
            dolor nulla animi, natus velit assumenda deserunt molestias
          </div>
        )}
      </Popup>

after adding div and

[2020-09-19 13:04] #209 closed

[2020-09-21 13:55] ww33 opened #212 "lockScroll does not work in version 2"
lockScroll does not work in version 2

[2020-09-21 14:08] yjose commented on #212
@ww33 can you please provide a codesandbox for your use case

[2020-09-22 13:18] #212 closed

[2020-09-23 13:11] nitishkrs1987 opened #213 "In next 9.5.3, "Converting circular structure to JSON" error came."
### Version
Next JS - 9.5.3
React - 16.12.0

### Expected Behavior
Without any exception
### Actual Behavior
Converting circular structure to JSON
    --> starting at object with constructor 'FiberNode'
    |     property 'stateNode' -> object with constructor 'DetailPage'
    --- property '_reactInternalFiber' closes the circle

[2020-09-23 14:19] yjose commented on #213
👋 @nitishkrs1987
Can you please provide a codesandbox demo for your use case

[2020-09-24 15:32] #213 closed

[2020-09-25 04:09] moRanou opened #215 "About SSR"
Hello, I would like to ask a question about SSR，

Here are the errors I get in next.js
![image](https://user-images.githubusercontent.com/32695379/94225294-2521c900-ff27-11ea-9213-ded29b9f111c.png)

However, when I turned off the component SSR, it worked fine；How can I use this component without turning off the SSR functionality of the framework？
Looking forward to your reply. Thank you；

[2020-09-28 06:49] odinus-god opened #216 "how to do toggle.. not work"
### Version
v.2.0.4

### Test Case
ref.current.toggle()

### Expected Behavior

### Actual Behavior

[2020-09-28 08:49] josdejong opened #217 "Issue with click outside to close the popup"
In one of the reactjs-popups we have, we open a small yes/no confirm popup _on top of_ the reactjs-popup. This confirm modal uses a different react library.

Since upgrading to `reactjs-popup@2`, clicking in this confirm modal will close the main reactjs-popup that is behind it, but that should not happen. It looks like reactjs-popup considers any click outside of it's own popup as "click outside"

[2020-09-28 10:58] yjose commented on #217
👋 @josdejong , would like it if you can provide a code sandbox for your issue use case.
Also, I would suggest adding `nested={true}` probably will fix the issue.

[2020-09-28 11:25] yjose commented on #216
Hmm ,  work as expected  if `closeOnDocumentClick={false}`
https://codesandbox.io/s/reactjs-popup-issue-template-forked-1oeb6?file=/src/index.js
Not the case if `closeOnDocumentClick={true}`

Thank you for Your contribution, will try to fix the issue ASAP

[2020-09-28 15:26] josdejong commented on #217
Thanks, `nested={true}` indeed solves the issue, that's a good workaround 👍 .

I've created a code example to demonstrate the issue: https://codesandbox.io/s/reactjs-click-outside-issue-mhqrd?file=/src/App.js

[2020-09-28 15:29] yjose commented on #217
Well, You should read the Migration Guide in the Doc website 😀
https://react-popup.elazizi.com/migrate-from-v1-to-v2#nested-popup

[2020-09-28 15:29] #217 closed

[2020-09-29 06:55] josdejong commented on #217
Yes you're right. To be honest, I totally didn't expect this behavior to be a new _feature_...

This makes me really curious: what is the use case for `nested={false}`? I cannot think of a case but I suppose I'm missing something.

[2020-09-29 10:29] yjose commented on #217
we faced some issues with the old implementation #200 #197 #184  due to supporting nested Popup.
To fix those issues we came up with the decision to add a `nested` prop to make sure the behavior will work for both cases.

[2020-09-29 11:14] josdejong commented on #217
Thanks for the explanation Youssouf 👍 . Too bad that it's not possible to have a single solution that works for all the use cases!

[2020-10-01 00:09] yjose commented on #215
hey @moRanou ,
Try to wrap the popup component  like the following, to make sure  the component didn't render on the server-side

[code]

[2020-10-01 12:52] #215 closed

[2020-10-08 15:02] sandrina-p commented on #208
@staminaloops, based on the codesandbox you shared (thank you!) it seems the position is set with a simple `position:absolute;`, nothing else (no recalcs are made). By default, this technique works fine, it's how CSS works: the `position: absolute` is relative to the parent (in this case the root).

But in this case, the "real" parent is a scrollable container, so the popover position would indeed

[2020-10-14 09:29] MAlngaawy opened #218 "Can't Scroll when the popup height more than the screen height"
### Version
2.0.4

### Test Case
https://codesandbox.io/s/quiet-currying-3qrp1?file=/src/App.js

### Expected Behavior
expected can scroll to reach the rest of the popup

### Actual Behavior
doesn't scroll

[2020-10-14 10:40] MAlngaawy commented on #218
it's fixed if you need to have the control to scroll.
just add `contentStyle` property and add margin style and overflow scroll.
[code]

[2020-10-14 10:40] #218 closed

[2020-10-23 08:34] Abdubek opened #219 "SSR aria-describedby error"
I get an error:
Warning: Prop `aria-describedby` did not match. Server: "popup-31" Client: "popup-1"
when I use it on NextJS

[2020-10-23 11:23] yjose commented on #219
#215

[2020-11-02 10:40] raRaRa opened #220 "If the content has text align set to center then the arrow renders incorrectly"
### Version 2.0.4

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-template-forked-yb5jr?file=/src/index.js

### Expected Behavior
The tooltip arrow should be rendered correctly.

### Actual Behavior
The arrow on the tooltip disappears when the contentStyle has textAlign set to 'center'.

With text align set to center:
![image](https://user-images.githubusercontent.com/4303914/97858896-

[2020-11-02 11:00] raRaRa commented on #220
Oen method to fix the problem is to add height and width 100% to popup-arrow

[2020-11-02 11:10] raRaRa commented on #220
Actually a better fix would be to add `left: 0;` to popup-arrow, since it makes the position of the arrow correct.

[2020-11-02 11:58] yjose commented on #220
Hmm , nice catch @raRaRa , I think this is due to using SVG as an arrow, would like if you can send a PR to fix this issue

[2020-11-02 11:58] #219 closed

[2020-11-02 12:27] raRaRa opened #221 "Unable to open tooltip inside an absolute container that has zIndex larger than 999"
### Version 2.0.4

### Test Case
https://codesandbox.io/s/reactjs-popup-issue-template-forked-5k5dc?file=/src/index.js

### Expected Behavior
I expected reactjs-popup to render the tooltip inside the container, like in versions before 2.0

### Actual Behavior
The tooltip is rendered inside `popup-root`, and the `popup-overlay` has a fixed zIndex set to 999, which can't be overridden with inline st

[2020-11-02 14:32] raRaRa commented on #220
Thanks. I'll see what I can do. I probably need to test more cases such as when the arrow is pointing down, left and right.

[2020-11-02 15:15] raRaRa commented on #220
Created a fix PR here: https://github.com/yjose/reactjs-popup/pull/222

[2020-11-03 11:31] raRaRa commented on #221
It seems like the zIndex in overlayStyle gets overriden by the default value 999. I'll see if I can fix this today

[2020-11-03 11:49] raRaRa commented on #221
Actually, I should use the `contentStyle` instead of `overlayStyle` in my app, seems like there's no overlay underneath the `popup-content` div in my app. Unsure why this changed, but at least this is enough to fix it for me.

[2020-11-03 11:49] #221 closed

[2020-11-09 10:56] codereal-lucasvschenatto opened #223 "Enable controlled mode for tooltip"
<!--
Thank you for contributing!

Have a usage question?
======================
The issue tracker is only for bugs and feature requests, so please do the following if you have a question:

- Read use cases : https://react-popup.elazizi.com/
- Look for/ask questions on StackOverflow: https://stackoverflow.com/questions/tagged/reactjs-popup

Have a feature request?
=======================
Remove the

[2020-11-25 04:11] manan-solutelabs opened #224 "React Js popup Dynamic positioning issue."
I am using react-js popup library for multiple card popups.And the position props in the popup library gives an option to apply all the positions in array.Then it will take appropriate position to open the popup as per the window size.Its working fine except when we open from the right most side,ideally it should open from left side but its creating extra space and its opening from right side only

[2020-12-03 09:59] pycckuu opened #225 "Feature request: change structure"
First of all, I would like to say that it is a great piece of work! I really enjoy using it in my projects.

For me, the structure of the `Popop` component will be more logical if we change the _child_ component with `trigger`, i.e., instead of writing:

[code]

Use:
[code]

And rename `trigger` to `popupContent` or something else.

Is it possible?

[2020-12-04 13:19] yjose commented on #225
thanks, @pycckuu  for your contribution, I am not sure if your proposal is the best option in our case, changing the API for component comes with complicity to support the old version and I would see that having the popup content as a child has more sense than having the trigger as a child. That's I wouldn't recommend changing the component API.

[2020-12-04 13:19] #225 closed

[2020-12-05 11:02] besiwims opened #226 "npm install reactjs-popup --save failed to install"
Microsoft Windows [Version 6.1.7601]
Copyright (c) 2009 Microsoft Corporation.  All rights reserved.

C:\Users\Tobb>cd nexchange-open-client-react

C:\Users\Tobb\nexchange-open-client-react>npm install reactjs-popup --save

\scrypt

rypt

C:\Users\Tobb\nexchange-open-client-react\node_modules\scrypt>if not defined npm
_config_node_gyp (node "C:\Program Files\nodejs\node_modules\npm\node_modules\np

[2020-12-05 13:51] yjose commented on #226
hey @besiwims, your problem is not related to the `reactjs-popup` module.
the problem is related to `node-gyp`  which have common issues with Windows OS  https://github.com/nodejs/node-gyp/issues/809

[2020-12-05 13:51] #226 closed

[2020-12-06 00:07] besiwims commented on #226
Thanks for your response. Most recommendations are deleting "~/.node-gyp folder and then the ~/.npmrc file" and restarting the machine. I will try that.

[2020-12-07 08:10] Bezmehrabi commented on #32
Hi, there's no event for `onClose`. version 2.0.4

[2020-12-09 07:35] Bezmehrabi opened #227 "no event exists for Popup onClose."
Hi, it seems like the [Added ability to stop event propagation from onOpen and onClose props.](https://github.com/yjose/reactjs-popup/pull/74) is missing in version `2.0.4`. as `event` is undefined in `onClose`.

[2020-12-09 09:44] tamazlykar opened #228 "Popup affects layout and position calculates in wrong way"
### Version
reactjs-popup: 2.0.4
react: 17.0.0
react-dom: 17.0.0

### Test Case
https://codesandbox.io/s/reactjs-popup-bug-krz5v?file=/src/styles.css

### Expected Behavior
Calculated position of popup is correct

### Actual Behavior
Popup component added to the bottom of the page at initial render, this leads to an extra page scroll. At this time library starts to calculate popup position and whe

[2020-12-09 21:38] bibschan commented on #208
I'm having the same issue and it's impacting my work tremendously, I've now uninstalled this package until there's a fix. Any updates on this?

[2020-12-16 11:33] lishine opened #232 "Rendering not in body"
Hi,

My application is embedded (not iframe), I want to render the popup-root under the application root.
Another problem that I see is that popup-content has element styles which I cannot override.

[2020-12-23 00:55] Slapbox commented on #159
@yjose can you explain how to use the portal feature? Or is it always on? I searched the entirety of the docs for the word "portal" but didn't find any mention.

[2020-12-30 15:25] wasd171 commented on #195
@yjose it seems that even in v2 popup is only semi-controllable :(
My expectations were that if `onClose` and `close` props were provided, developer is in full charge of managing the popup state, but instead for the `closeOnDocumentClick` / `closeOnEscape` the `onClose` is called, but even with `close = false` the popup closes

[2021-01-04 05:59] Ravindersingh1526 commented on #227
@Bezmehrabi assign ref to Popup then access ref.current.close() method to close Popup

[2021-01-07 09:26] asmakhalfallah2018 opened #235 "Slow display of embed popup"

[2021-01-12 09:02] nmdgent-jefverme commented on #227
@Ravindersingh1526 can you give an example of this? I'm using the modal Popup and whenever I user the close() function I get an error that it's not defined.

[2021-01-12 09:45] asmakhalfallah2018 commented on #235
![image-analysis](https://user-images.githubusercontent.com/30045602/104297496-3afdce80-54c3-11eb-93f1-a2cab7fd211b.png)

[2021-01-12 09:45] #235 closed

[2021-01-13 14:56] yjose commented on #227
@nmdgent-jefverme  https://react-popup.elazizi.com/controlled-popup#using-ref-to-access-popup-actions

[2021-01-16 05:13] MikolajMGT commented on #208
Unfortunately, bug still occurs. Quick and dirty workaround would be quit tooltip on scrolling:
[code]
Not much, but maybe this will help someone, I'm using it currently.

[2021-01-29 01:44] SimplyComplexable commented on #232
@yjose Is this possible? I found a PR to implement this from a couple years ago that was rejected, but 2.0 updated to Portals. Seems like this should be more easily possible now? I can work on PR if it would help.

[2021-01-29 16:42] SimplyComplexable commented on #232
@lishine I looked through the source and you can see [here](https://github.com/yjose/reactjs-popup/blob/master/src/index.tsx#L26) that if you add an element to with an id of `popup-root` it will render into that element. I tested this for my situation and it worked perfect!

[2021-01-29 23:26] yjose commented on #232
@SimplyComplexable  can you add it somewhere in the docs

[2021-02-07 17:40] karthikeyan676 opened #237 "Hi this feature is not working."
### Version

### Test Case
https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior

### Actual Behavior

[2021-02-07 17:44] karthikeyan676 opened #238 "Element going outside of the window"
Hi, this feature is not working.

4. check if calculated position is going out of bounds of wrapper box or not. If yes repeat 1-3 for next position enum. By default wrapper box is window element

![image](https://user-images.githubusercontent.com/24937683/107154663-392c0b80-699a-11eb-8797-46212fcf580a.png)

[2021-02-08 17:09] SimplyComplexable commented on #232
@yjose I created PR #239 let me know if you want any updates.

[2021-02-09 07:28] ludwignagelhus opened #240 "Composite positions are not available with Typescript"
There is an issue with the prop `position` when this package is used with TypeScript. The docs say that the possible values for the `position`-prop are one of the following:

[code]

I am getting an error for all values except `top`, `right`, `bottom`, and `left`.

`Position` is typed to `Place` in `react-tooltip.d.ts`, which is one of `'top' | 'right' | 'bottom' | 'left'`. I tried modifying this

[2021-02-09 08:58] ludwignagelhus commented on #240
Appears I am not using this library lol

[2021-02-09 08:58] #240 closed

[2021-02-28 09:18] dhrimov opened #241 "IE11 dialog close destroys the application"
### Version
2.0.4

### Test Case
Can't really provide.
http://jsfiddle.com does not support IE11 any longer
https://codesandbox.io/ does not work in IE11

Could probably reproduce using https://react-popup.elazizi.com/ if dialog would open in IE11.

But, dialog works fine in IE11 with polyfills. And tracing down an error brings me to this line:
https://github.com/yjose/reactjs-popup/blob/master/sr

[2021-03-01 10:47] dhrimov commented on #241
After one fix got another error:
[code]

The PR: https://github.com/yjose/reactjs-popup/pull/242

[2021-03-10 16:07] Nathaniel-Santos opened #246 "Does not Working"
### Version
"2.0.4"

### Code Example
I have a PopUp page.js to make this component with this following code bellow:

const PopupExample = () => (
    <Popup trigger={<button>Trigger</button>} modal>
      {close => (
        <div>
          Content here
          <a className="close" onClick={close}> Mais; </a>
        </div>
      )}
    </Popup>
  );

And in some Page I import this one
Import P

[2021-03-13 18:22] evasyuk commented on #208
I followed advice from @MikolajMGT and was able to get rid of the problem in similar way

the only difference: I added listener to the whole document and applied access by reference

![workaround](https://user-images.githubusercontent.com/4641605/111040018-cf3fcf80-8439-11eb-9dea-88defa2c4689.gif)

`import React, { useRef } from 'react'

import Popup from 'reactjs-popup';
import 'reactjs-popup/dis

[2021-03-25 03:17] AntonOfTheWoods commented on #130
@yjose

[code]
Doesn't work, which is what your above comment would suggest. The only way I managed to get it done was with a styled component

[code]
This is not very n00b-friendly for such a simple requirement, no?

[2021-03-26 04:51] vtarelkin opened #247 "Popup appearance calculated on the fly"
Good day, hope you could help me.

### Version
    "reactjs-popup": "^2.0.4"

### Test Case
[code]
### Expected Behavior
I want popup to open and do not see how my text and icons dynamically aligned (or recalculates)

### Actual Behavior
While open popup I see text and icons in one position and after a while it gets right

[2021-04-02 18:37] qubal opened #250 "First input in popup autofocuses"
Greetings, traveller. Currently I'm facing a bug, which can shortly be described like: "First input in any popup autofocuses and neither "tabIndex: -1", nor "autofocus={'false'}" can help fixing it.

### Version
2.0.4

### Test Case
https://codesandbox.io/s/restless-shape-n5o0k?file=/src/index.tsx

### Expected Behavior
I expect first input not to focus, i've already tried changing tabIndex and se

[2021-04-07 17:44] RaphaelChauveau commented on #250
Hello, It seems to be the intended behaviour, for accessibility purpose.

Extract from [https://react-popup.elazizi.com/react-popup-accessibility](https://react-popup.elazizi.com/react-popup-accessibility)

However, this feature is also causing some problems for me because despite restoring the first focused element on close, it loses the original selection...

[2021-04-13 12:48] ronangaillard commented on #250
Yes, please add an optional prop to disable this 😞

[2021-04-13 12:55] ronangaillard commented on #208
Having the same issue and it's preventing us from using `reactjs-popup` in our app 😞

Do you have any idea of how we could implement a fix and create a PR ?

Thanks

[2021-04-13 14:07] ronangaillard commented on #208
The bug is easily reproductible on the official site of `reactjs-popup` (https://react-popup.elazizi.com/react-tooltip)

![Apr-13-2021 16-03-14](https://user-images.githubusercontent.com/5607736/114566273-63d46200-9c72-11eb-9afb-5ec36db18bd4.gif)

[2021-04-15 07:13] qubal commented on #250
@ronangaillard @RaphaelChauveau admit

[2021-04-18 17:28] rushimanche opened #251 "Custom Modal not rendering in Reactjs"
Hello,

I have tried to implement reactjs-popup into my code and I came across an issue. As you can see in the image below, the popup works but no content is displayed. I believe it is a styling issue as the html seems to render properly.
![image](https://user-images.githubusercontent.com/61168471/115154488-1b89bb00-a049-11eb-94f2-9b44c4f04edf.png)

Here is my code:

[code]

Can anyone help?

[2021-04-26 10:47] Secretmapper commented on #215
@yjose This has the downside of the trigger (ie a button) not prerendering. It would be great if there was native SSR support

[2021-05-10 14:41] abdulsami822 commented on #250
I badly need an optional prop to disable autofocus

[2021-05-19 09:00] Crustan commented on #174
Is this issue really fixed? We just discovered the same issue in v 2.0.4. And if you follow the steps to reproduce in the first comment, you still get the same issue.

[2021-05-19 09:08] Crustan opened #259 "Do not close modal on mouse up outside the modal when mouse down is inside"
I just discovered a potential regression, cause the bug reported in [issue 174](https://github.com/yjose/reactjs-popup/issues/174) still occurs in the latest version.

When selecting text in a popup and having mouse-up event occur outside of the popup, the popup is closed.

### Version
2.0.4

### Test Case
To reproduce:

- Open https://react-popup.elazizi.com/home/
- Open the demo popup by clickin

[2021-05-19 21:59] Slapbox commented on #228
When the popup is dismissed our entire page scrolls and cannot be restored to the proper state without restarting the tab.

[2021-06-01 07:11] saviomartin opened #261 "Error using with Next JS"
![scrnli_01_06_2021_12-41-21](https://user-images.githubusercontent.com/61895712/120281519-ac091b80-c2d6-11eb-8599-621f9e7ac552.png)

[2021-06-26 11:44] yasserf commented on #145
I ended up solving this by adding a reposition action:

heya,

I ended up fixing this by adding a refresh action on the imperativeHandle

[code]

And in my code:

[code]

And in the Menu

[code]

It aint the cleanest way of doing it, but so far it seems to work well

[2021-07-03 16:53] yjose commented on #261
#215

[2021-07-03 16:54] yjose commented on #251
can you provide a code sandbox example

[2021-07-03 16:56] yjose commented on #246
can you provide a code sandbox example please

[2021-07-03 16:56] #246 closed

[2021-07-03 17:21] #241 closed

[2021-07-08 20:15] MANTENN commented on #83
Am encountering this issue with preact.

[2021-07-13 10:04] vtarelkin opened #269 "no arrow seen when overflow-y is set"
when having many items in popup with overflow-y enabled and fixed height there is no arrow visible

### Version
    "reactjs-popup": "^2.0.4"

### Test Case
cannot create cause
[code]

and it ignores my styles

![image](https://user-images.githubusercontent.com/46703134/125433424-d15c1595-ffe3-4780-a059-66b61483a095.png)

https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior
arrow is visible

[2021-07-18 14:13] RanoVeder commented on #259
Have the same issue here. Were you able to find a fix for this @Crustan?

[2021-07-20 02:38] mingthegit commented on #106
@marvson How did you resolve this? In my case, suffixes are appended to `styles.popup` too.

[2021-07-20 17:05] kollin-francis opened #270 "Popup only repositions on window resize and not when content changes"
Only repositioning on window resize is probably intended so this is more of a feature request I suppose.

### Version
2.0.4

### Test Case
Dropdown/popup that loads content (e.g. list of data) after opening will have incorrect position calculated and won't be repositioned once content is loaded. This causes popups to overflow bounds once content is displayed.

Workaround, trigger a dummy resize ev

[2021-07-22 10:39] Yannis-tech commented on #251
Hey, do you use Bootstrap in your project?
The modal class from Bootstrap may interfere.

[2021-07-26 07:22] snairsumith commented on #259
Any Updates ?

[2021-07-28 11:13] Crustan commented on #259
We applied the custom hook solution mentioned in [issue 174](https://github.com/yjose/reactjs-popup/issues/174) as a temporary fix.

[2021-08-05 13:54] WouterJanssens98 commented on #251
Renaming the "modal" class and updating the CSS for this name change did the trick. Bootstrap indeed interferes.

[2021-08-13 17:28] stephan-noel-primer commented on #208
I think you can actually choose a portal container by giving your desired container element, the id popup-root as shown here:

![image](https://user-images.githubusercontent.com/79197157/129396443-11d133ea-aa8d-4e61-823f-1dd15339a423.png)

Then if you also give that same element `position: relative`, it will _seem_ to work.

It will only work however, when the popup is opened when your scroll cont

[2021-08-24 13:08] ronangaillard commented on #250
The problem is that the current focused element before opening gets unfocused on popup open.

In our projects this is a big issue as we have to refocus the previous focused element after opening popup.

[2021-08-24 14:01] charlesrollin commented on #250
I have the same issue as @ronangaillard. I use a popup as the container for suggestions list on a search input. On first click on the search input, the following occurs :
- text input is focused
- then popup opens (with no suggestions and an initial loader)
- then text input looses focus (because focus goes to the first item in the popup)

In terms of UX it means that the user has to click twice t

[2021-09-05 14:28] tabzam opened #275 "Warning: Prop `aria-describedby` did not match. Server: "popup-5" Client: "popup-1""
![Screen Shot 2021-09-06 at 12 08 57 am](https://user-images.githubusercontent.com/2277957/132130502-8ae8deec-cd43-49fd-9054-49a646407a1e.png)

why would this error appear. it was working fine and then suddenly this started appearing.

### Version

### Test Case
https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior

### Actual Behavior

[2021-09-27 03:55] joseph1125 opened #278 "focusContentOnOpen brings unexpected style issue"
### Version
2.0.5

### Test Case

### Expected Behavior
When a modal pops up, the first input in the modal is selected by default and this messes up with the design.

### Actual Behavior
Don't auto focus input when the modal is opened

[2021-09-28 15:34] VityaSchel commented on #2
why was this closed?

[2021-10-07 13:16] Aloushek commented on #278
We have the same issue. We are opening popup programmaticaly (trough ref) when user type something to input. This leads input to lose focus so user cant type after first letter.
Some prop to disable focusing content on open would be nice.

[2021-10-14 09:59] buzzo123 opened #281 "How to close only whit button click"
How can i prevent closing popup when click everywhere?

[2021-10-14 10:51] #281 closed, assigned to nobody

[2021-11-12 16:30] thinhhja2001 opened #285 "Center popup horizontally"
How to center a popup horizontally without using modal props?

[2021-11-14 23:29] alabeduarte commented on #209
Hi @amitpatel9169

I'm facing a similar issue that is only happening on Safari. You mentioned that you solved your issue by adding a `div` within the `trigger`. Would you happen to have or remember the code snippet with your final solution?

It was something like the code below?

[code]

Cheers

[2021-11-15 00:38] alabeduarte commented on #209
I think I've got it. I was having similar issue and I got it working when I made sure that whatever is rendered within `trigger` will be wrapped by any valid DOM tag (i.e. `div`, `span`, etc).

Cheers

[2021-11-24 01:57] csalgau opened #287 "Flag for disabling trigger element refocus"
Thanks to accessibly improvements in v2.0.0 / 16e979a42afbb81589e1fe7a9b60f2981be724c0, closing a modal popup resets focus to previously focused element. The element is pulled from document.activeElement when the modal is opening.
This is indeed the desired and expected behaviour most of the time.

But I'm hitting a use case where this is detrimental.
Given a long form (larger than the viewport) a

[2021-12-11 12:59] uk-taniyama opened #288 "When closeOnDocumentClick is specified, popup will not be closed by tap operation."
### Version

2.0.5

### Test Case
https://codesandbox.io/embed/reactjs-popup-issue-template-forked-qt0wv

Android Chrome or Simulate mobile devices with Device Mode - Chrome

### Expected Behavior

1. Tap the button. then open [popup content].
2. Tap outside of [popup content]. then close [popup content].

### Actual Behavior

1. Tap the button. then open [popup content].
2. Tap outside of [popup

[2021-12-14 01:51] sabetAI opened #290 "How to implement popup with async content?"

[2021-12-14 03:12] sabetAI opened #291 "How to stop contents from rendering before click?"
The contents of `Popup` seem to render as soon as the page loads, before any interaction with the trigger element. Does the popup component have a state prop that can be access to check if it's been clicked or not?

[2021-12-14 03:25] #291 closed

[2021-12-14 03:26] sabetAI commented on #291
Used `onOpen`/`onClose` with state hook.

[2021-12-20 20:42] Kingkon963 commented on #275
This situation is similar to [this](https://github.com/segmentio/evergreen/issues/842#issue-623961226) issue and the reason is also described there.

Here [this](https://github.com/yjose/reactjs-popup/blob/c085fa6ccbff760617811228718356c88bb1c094/src/index.tsx#L213) line is causing the issue

[2022-01-14 13:08] artemkasan opened #293 "Popup do not hide when disabled is set"
### Version
2.0.5

### Test Case
https://codesandbox.io/s/reactjs-popup-wrong-disabled-vup57

Hover over "Disable" button. Popup appear. Click "Disable" button.

### Expected Behavior
https://react-popup.elazizi.com/component-api#disabled
According to documentation popup must be automatically close after disabled is set.
### Actual Behavior
Pop keep open and do not hide when hover out of popup are

[2022-01-26 08:06] mriiad commented on #293
Hello @artemkasan,

I agree with you, I think it's a bug.

@yjose can you confirm this please ?

I corrected it locally ✅  but I still have some failed tests ❌, maybe I will need your help @yjose 🙌🏼

I will create a PR today to keep you updated.

[2022-01-27 09:01] Bug-Reaper commented on #275
Same issue, workarounds that involve `id="unique-anything"` and `isLazy` don't help.

[2022-02-03 03:02] bchilcott commented on #23
The page you linked doesn't exist anymore.. Has it been moved? I realise I'm very late to the party here.

[2022-02-03 09:50] rvision commented on #145
I am having the same problem as described.

What's the status of this issue?

[2022-02-07 23:19] Zhdanown commented on #145
What I came up with is to add a prop `repositionOnResize` and trigger an event whenever the content of the popup changed with `window.dispatchEvent(new Event('resize'));`

[2022-04-12 14:41] mDeram opened #308 "Unreachable lines of code"
### Version
v2.0.5

### Issue

src/hooks.tsx have unreachable lines of code in return statements. In each hook return statement, this line can never get called:

[code]

because in the beginning of each useEffect hooks there is the same line. The value of "active" variable does not change in the hook, meaning that "active" is falsy in the beginning of the hook, the hook will return before reaching

[2022-04-14 07:02] poohcom1 opened #310 "React 18 Typescript Error with function"
### Version
v2.0.5

### Issue
Typescript will throw an error when a function is passed as a child, specifically to use the `close` callback. Although this worked previously in React 17, this now throws an error. I believe this is due to the [removal of implicit children as props](https://solverfox.dev/writing/no-implicit-children/).

![image](https://user-images.githubusercontent.com/74857873/1633

[2022-04-19 05:40] vhpoet commented on #275
In React 18 you can fix this by replacing [this line](https://github.com/yjose/reactjs-popup/blob/c085fa6ccbff760617811228718356c88bb1c094/src/index.tsx#L73) with
[code]

[2022-05-02 13:05] nektonick opened #313 "Typo in setPosition() function"
In `src/index.tsx` at 168 line:
`if (!triggerRef?.current || !triggerRef?.current || !contentRef?.current)`
double check for triggerRef looks like a typo

[2022-06-09 10:40] necheporenko commented on #5
Is it possible to change this default behavior?
Because in my case, I want to show an overlay on hovering elements.

[2022-06-24 11:59] MudulOzan opened #315 "Element' is not assignable to type 'ReactNode'.ts(2322)"
Hi, we have been using reactjs-popup and it worked well so far thanks for the great effort. However, due to the complicated configs of my current project that I am not fond of, giving me strange error while the same code works in another project. I am not quite sure why this is happening and probably not because of this library but I thought I could get some guidance here.

I got this error before

[2022-07-10 14:19] sammelanyogi commented on #315
I got the same issue

[2022-07-11 13:26] abhimanyu95 commented on #290
did you got the solution?

[2022-07-25 07:31] ShaiMahnai opened #318 "Support for React 17"
Does reactjs-popup V1 support working with React 17? and what about reactjs-popup V2?

[2022-07-29 12:13] Xtr102 commented on #315
Same here.

[2022-08-01 18:21] jaxomlotus commented on #215
Any update to this issue? it's still a problem for me.

[2022-08-22 13:55] Ploppz opened #320 "Popup opens behind MUI Dialog"
### Version
2.0.5

### Test Case
https://codesandbox.io/s/eloquent-voice-c239pn?file=/src/App.js

### Expected Behavior
The popup should be visible
### Actual Behavior
The popup is partially occluded by the Dialog

[2022-09-02 03:27] DwaveVito commented on #315
Try this workaround

`  const popupBody: any = (close: () => void) => {
    return (
      <div
        style={{
          width: 300,
          height: 300,
          backgroundColor: '#ffffff',
        }}

        <p>Popup content here !!</p>
        <Button title="close" onClick={close} />
      </div>
    );
  };

  return (
    <Popup
      trigger={
        <Button
          title={t('record

[2022-09-08 10:05] shnigi commented on #320
Have similar problem, popup appears behind Storybook menu.

[2022-10-12 14:27] MudulOzan commented on #315
I don't like ignoring ts but thanks anyway

[2022-10-27 21:57] ved-rajpoot opened #321 "Cannot read properties of null (reading 'useState')"
### Version

### Test Case
https://codesandbox.io/s/n5q4zqw2n0

### Expected Behavior

### Actual Behavior
I want to use this library, but don't know why it is showing this error, i wrote simple code as shown in example, please help me with this.
![image](https://user-images.githubusercontent.com/79780296/198405833-1b824494-e47c-4a5e-9ed0-c5d0c3777ac3.png)

[2022-11-25 13:27] Ploppz commented on #320
@shnigi  We found a way to solve it.
On the popup component in React, or with CSS referencing the class of the popup element, set `z-index` to a very high number that is higher than that of the Dialog. We went with `zIndex:"100000000"`

[2022-11-29 11:22] egor-sorokin commented on #310
Are there any updates on this? The error seems still exists

[2022-11-30 20:54] lukacspapp commented on #215
Hello,

I am using next.js 12 and react 18. So I am using SSR. The following did cause me an error.

[code]
**This is the one the solved it for me.**

[code]

[2022-11-30 21:06] lukacspapp commented on #275
https://github.com/yjose/reactjs-popup/issues/215#issuecomment-1332724293